<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>면접 후기 - Position</title>
    </head>
    <body>
        <div id="interview-skipnavigation"></div>
        <header id="sri-header"></header>
        <div id="interview-search-wrap" class="interview-wrap-search">
            <form id="interview-AKCFrm" name="interview-search">
                <fieldset class="interview-fieldset">
                    <legend class="interview-blind">검색 폼</legend>
                    <div class="interview-box-search">
                        <label
                            for="interview-combinSearchWork"
                            class="interview-blind"
                            >검색어입력</label
                        >
                        <span
                            id="interview-search-wrap-span"
                            class="interview-box-search-input interview-banner-on"
                        >
                            <svg class="interview-icon">
                                <use></use>
                            </svg>
                            <input type="text" name="searchword" />
                        </span>
                        <button></button>
                        <button></button>
                    </div>
                </fieldset>
                <input type="text" />
                <input type="text" />
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </form>
            <div></div>
            <div></div>
        </div>
        <div id="interview-sri-section" class="interview-layout-full"></div>
        <div id="interview-dimm" class="interview-sri-dimmed"></div>
        <div class="interview-img-svg-layout"></div>
        <div class="interview-svg-pattern"></div>
        <div id="interview-iframe-layer" class="interview-iframe-layer"></div>
        <div
            class="interview-wrap-quick-apply-layer"
            id="interview-wrap-quick-apply-layer"
        ></div>
        <div class="interview-sticky-chatbot"></div>
        <div id="interview-pop-login-dimmed"></div>
        <div id="interview-pop-login-layer"></div>
        <div id="interview-sticky-wrap"></div>
        <div style="display: none"></div>
        <div style="display: none"></div>
        <div id="interview-tags-div"></div>
    </body>
</html>
