<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>main</title>
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="/static/css/main/main.css" />
    </head>
    <body id="sri_main" class="vsc-initialized">
        <header id="sri_header" class="main bubble">
            <div class="wrap_header">
                <h1>
                    <a
                        href="/"
                        class="bi"
                        aria-label="사람인"
                        data-nav-track="ga_lead|main-gnb|global_menu|ci"
                    >
                        <span class="frame"> </span>
                    </a>
                </h1>
                <!-- 네비게이션 -->
                <div class="navigation">
                    <button
                        type="button"
                        class="btn_menu"
                        aria-haspopup="true"
                        aria-expanded="true"
                    >
                        <svg aria-hidden="true" focusable="false">
                            <use xlink:href="#svg_gnb_total_off"></use>
                        </svg>
                        <svg aria-hidden="true" focusable="false">
                            <use xlink:href="#svg_gnb_total_on"></use>
                        </svg>
                        <span class="blind">전체메뉴</span>
                    </button>
                    <div class="wrap_gnb">
                        <div class="major recruit">
                            <a
                                class="depth1"
                                href="/zf_user/jobs/list/domestic"
                                data-nav-track="ga_lead|main-gnb|recruit|recruit"
                            >
                                <span class="txt">채용정보</span>
                            </a>
                            <ul class="depth2">
                                <li>
                                    <a
                                        href="/zf_user/jobs/list/domestic"
                                        data-nav-track="ga_lead|main-gnb|recruit|area"
                                    >
                                        <span class="txt">지역별</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/jobs/list/job-category"
                                        data-nav-track="ga_lead|main-gnb|recruit|job"
                                    >
                                        <span class="txt">직업별</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/jobs/list/subway"
                                        data-nav-track="ga_lead|main-gnb|recruit|area_subway"
                                    >
                                        <span class="txt">역세권별</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/jobs/hot100"
                                        data-nav-track="ga_lead|main-gnb|recruit|hot100"
                                    >
                                        <span class="txt">HOT100</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/jobs/list/headhunting"
                                        data-nav-track="ga_lead|main-gnb|recruit|headhunting"
                                    >
                                        <span class="txt">헤드헌팅</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/jobs/theme/main"
                                        data-nav-track="ga_lead|main-gnb|recruit|theme"
                                    >
                                        <span class="txt">채용관</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/curation"
                                        data-nav-track="ga_lead|main-gnb|recruit|curation"
                                    >
                                        <span class="txt">큐레이션</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/jobs/list/dispatch"
                                        data-nav-track="ga_lead|main-gnb|recruit|dispatch"
                                    >
                                        <span class="txt">파견대행</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="major">
                            <a
                                class="depth1"
                                href="/zf_user/jobs/theme/it-headhunting"
                                data-nav-track="ga_lead|main-gnb|recruit|acceptance"
                            >
                                <span class="txt">취업축하금</span>
                            </a>
                        </div>
                        <div class="major">
                            <a
                                class="depth1"
                                href="/zf_user/jobs/public/home"
                                data-nav-track="ga_lead|main-gnb|recruit|public"
                            >
                                <span class="txt">신입·인턴</span>
                            </a>
                            <ul class="depth2">
                                <li>
                                    <a
                                        href="/zf_user/jobs/public/home"
                                        data-nav-track="ga_lead|main-gnb|recruit|public_home"
                                    >
                                        <span class="txt">신입·인턴 홈</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/jobs/public/list"
                                        data-nav-track="ga_lead|main-gnb|recruit|public_list"
                                    >
                                        <span class="txt">실시간 공고</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/calendar"
                                        data-nav-track="ga_lead|main-gnb|recruit|public_calendar"
                                    >
                                        <span class="txt">채용달력</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/salaries/1000/starting-list"
                                        data-nav-track="ga_lead|main-gnb|recruit|public_income"
                                    >
                                        <span class="txt">신입연봉</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="major">
                            <a
                                class="depth1"
                                href="/zf_user/member/my-siat/promotion"
                                data-nav-track="ga_lead|main-gnb|per_prdt|per_prdt"
                            >
                                <span class="txt">인적성검사</span>
                            </a>
                            <ul class="depth2">
                                <li>
                                    <a
                                        href="/zf_user/member/my-siat/promotion"
                                        data-nav-track="ga_lead|main-gnb|per_prdt|mysiat"
                                    >
                                        <span class="txt">인적성검사</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/member/mock-exam/public-company?t_ref=gnb"
                                        data-nav-track="ga_lead|main-gnb|per_prdt|publicmock"
                                    >
                                        <span class="txt">공기업 모의고사</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="major">
                            <a
                                class="depth1"
                                href="/zf_user/company-review"
                                data-nav-track="ga_lead|main-gnb|company_info|company_info"
                            >
                                <span class="txt">기업·연봉</span>
                            </a>
                            <ul class="depth2">
                                <li>
                                    <a
                                        href="/zf_user/company-review"
                                        data-nav-track="ga_lead|main-gnb|company_info|review"
                                    >
                                        <span class="txt">기업리뷰</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/salaries/total-salary/list"
                                        data-nav-track="ga_lead|main-gnb|company_info|salary"
                                    >
                                        <span class="txt">연봉정보</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/interview-review"
                                        data-nav-track="ga_lead|main-gnb|company_info|interview"
                                    >
                                        <span class="txt">면접후기</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/company-info/sri-certification?seq=1237"
                                        data-nav-track="ga_lead|main-gnb|company_info|certification"
                                    >
                                        <span class="txt">기업큐레이션</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="major">
                            <a
                                class="depth1"
                                href="/zf_user/careerplus"
                                data-nav-track="ga_lead|main-gnb|contents|contents"
                            >
                                <span class="txt">커리어성장</span>
                            </a>
                            <ul class="depth2">
                                <li>
                                    <a
                                        href="/zf_user/careerplus"
                                        data-nav-track="ga_lead|main-gnb|contents|home"
                                    >
                                        <span class="txt">클래스</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://mentor-match.saramin.co.kr"
                                        target="_blank"
                                        data-nav-track="ga_lead|main-gnb|contents|mentoring"
                                    >
                                        <span class="txt">멘토링매치</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/tools/personal-statement-coaching-service"
                                        data-nav-track="ga_lead|main-gnb|contents|tool_personal-statement-coaching-service"
                                    >
                                        <span class="txt">Ai자소서 코칭</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/tools/character-counter"
                                        data-nav-track="ga_lead|main-gnb|contents|tool"
                                    >
                                        <span class="txt">취업TOOL</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/pds-resume/resume-download"
                                        data-nav-track="ga_lead|main-gnb|contents|jobdata_resume-download"
                                    >
                                        <span class="txt">이력서 양식</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/hr-magazine/list"
                                        target="_blank"
                                        data-nav-track="ga_lead|main-gnb|contents|hr-magazine"
                                    >
                                        <span class="txt">HR매거진</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="major">
                            <a
                                class="depth1"
                                href="/zf_user/company-review-qst-and-ans"
                                data-nav-track="ga_lead|main-gnb|qst-and-ans|qst-and-ans"
                            >
                                <span class="txt">커뮤니티</span>
                            </a>
                            <ul class="depth2">
                                <li>
                                    <a
                                        href="/zf_user/company-review-qst-and-ans"
                                        data-nav-track="ga_lead|main-gnb|qst-and-ans|qst_home"
                                    >
                                        <span class="txt">커뮤니티 홈</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/career-information/senior-list"
                                        data-nav-track="ga_lead|main-gnb|qst-and-ans|qst_careerinfo"
                                    >
                                        <span class="txt">현직자 인터뷰</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/company-review-qst-and-ans/influencer-intro"
                                        data-nav-track="ga_lead|main-gnb|qst-and-ans|qst_expert"
                                    >
                                        <span class="txt">프로 전문가</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- header 로그인 -->
                <div class="utility">
                    <div class="sign">
                        <a
                            href="/zf_user/auth"
                            data-nav-track="ga_lead|main-gnb|layer_sign|signin"
                            class="btn_sign signin"
                            >로그인</a
                        >
                        <hr />
                        <a
                            href="/zf_user/member/registration/join"
                            data-nav-track="ga_lead|main-gnb|layer_sign|join"
                            class="btn_sign signup"
                            >회원가입</a
                        >
                    </div>
                    <div class="wrap_service">
                        <button
                            class="btn_service"
                            type="button"
                            aria-expanded="false"
                        >
                            기업서비스
                            <svg aria-hidden="true" focusable="false">
                                <use
                                    xlink:href="#svg_gnb_profile_bracket"
                                ></use>
                            </svg>
                        </button>
                        <div class="layer_member">
                            <ul class="services">
                                <li class="half_col">
                                    <a
                                        href="/zf_user/auth?ut=c"
                                        data-nav-track="ga_lead|main-gnb|layer_comp_service|signin_comp"
                                        >로그인</a
                                    >
                                    <a
                                        href="/zf_user/member/registration/join?ut=c"
                                        data-nav-track="ga_lead|main-gnb|layer_comp_service|company_join"
                                        >회원가입</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/memcom/index/main"
                                        data-nav-track="ga_lead|main-gnb|layer_comp_service|musthome"
                                        >기업홈</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/memcom/recruit/select-recruit-type"
                                        data-nav-track="ga_lead|main-gnb|layer_comp_service|recruit-add"
                                        >공고 등록</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/company/recruit-manage?gnb_main=y"
                                        data-nav-track="ga_lead|main-gnb|layer_comp_service|recruit-manage"
                                        >지원자 관리</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/memcom/talent-pool/main/search"
                                        data-nav-track="ga_lead|main-gnb|layer_comp_service|talent_matching"
                                        >인재풀</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/memcom/ai-recruit/introduce"
                                        data-nav-track="ga_lead|main-gnb|layer_comp_service|smart_recruiter"
                                        >스마트 리크루터</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/memcom/preview/custom-guide"
                                        data-nav-track="ga_lead|main-gnb|layer_comp_service|verification"
                                        >인적성 · 평가도구</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/hr-magazine/list"
                                        data-nav-track="ga_lead|main-gnb|layer_comp_service|hr-magazine"
                                        >HR매거진</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://billing.saramin.co.kr/products?t_ref=main&amp;t_ref_content=member_gnb"
                                        data-nav-track="ga_lead|main-gnb|layer_comp_service|products"
                                        >채용상품</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://business.saramin.co.kr?utm_source=saramin&amp;utm_medium=referral&amp;utm_campaign=organic&amp;utm_content=c_drop_menu"
                                        data-nav-track="ga_lead|home_menu|business|"
                                        >사람인 비즈니스</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>
