<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>기업 메인페이지</title>
    </head>
    <body>
        <div id="sri_section" class="layout_full">
            <div id="sri_wrap">
                <div id="content">
                    <div class="wrap_company_view">
                        <div class="sidebar recommendation">
                            <div class="scroller">
                                <div class="company_info">
                                    <div class="box_logo">
                                        <img
                                            id="쿠팡(주)의 기업로고"
                                            alt="쿠팡(주)의 기업로고"
                                            src="https://pds.saramin.co.kr/company/logo/202203/24/r98lvb_cr4p-2so280_logo.png"
                                            width="170"
                                            height="38"
                                        />
                                    </div>
                                    <div class="tit_company" title="쿠팡(주)">
                                        쿠팡(주)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
