<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <title>기업페이지 헤더</title>
    </head>
    <body>
        <header id="header" class="main bubble">
            <div class="wrap_header">
                <h1>
                    <a href="/" class="bi" aria-label="사람인">
                        <span class="frame"> </span>
                    </a>
                </h1>
                <div class="utility">
                    <div class="sign">
                        <a href="" class="btn_sign signin">로그인</a>
                        <hr />
                        <a href="" class="btn_sign signup">회원가입</a>
                    </div>
                    <div class="wrap_service">
                        <button
                            type="button"
                            class="btn_service"
                            aria-expanded="false"
                        >
                            기업서비스
                            <svg aria-hidden="true" focusable="false">
                                <!-- <use xlink:href="#svg_gnb_profile_bracket"></use> -->
                            </svg>
                        </button>
                        <div class="layer_member">
                            <ul class="services">
                                <li class="half_col">
                                    <a href="">로그인</a>
                                    <a href="">회원가입</a>
                                </li>
                                <li><a href="">기업홈</a></li>
                                <li><a href="">공고 등록</a></li>
                                <li><a href="">지원자 관리</a></li>
                                <li><a href="">인재풀</a></li>
                                <li><a href="">스마트 리크루터</a></li>
                                <li><a href="">인적성 · 평가도구</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>
