<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/static/css/corporation/corporation-login-main-resume.css"
        />
        <link rel="stylesheet" href="/static/css/main.css" />
        <title>지원서</title>
    </head>
    <body>
        <div
            class="area_company_letterview except-print"
            id="btn-area"
            style="display: block"
        >
            <div class="box_btnline">
                <span class="btn_company_letter03"
                    ><button type="button" onclick="window.print();">
                        인쇄
                    </button></span
                >
            </div>
        </div>
        <div class="print_wrap">
            <h2 class="blind">이력서 VIEW</h2>
            <div class="resume_manage_line">
                <div class="txt">지원분야 : 재무(자금/재무결산)</div>
                <div class="txt application_date TipBox">
                    입사지원일 : 2024년 10월 17일 (목)
                </div>
            </div>
            <section class="resume_basic">
                <div class="resume_view">
                    <div class="resume_top">
                        <h1 class="user_name">오현준</h1>
                        <div class="user_state">신입</div>
                    </div>

                    <p class="user_desc">2000 (23세)</p>
                    <p class="user_privacy except-print">
                        기업이 이력서 열람/제안시 개인정보는 정상 노출됩니다.
                    </p>
                    <ul class="user_info">
                        <li class="user_email">gus*******@naver.com</li>
                        <li class="user_phone"><span>010-****-1474 </span></li>
                        <li class="user_address">(18105) 경기 오산시 양산로</li>
                    </ul>
                </div>

                <ul class="resume_dashboard">
                    <li class="item">
                        <strong class="tit education">학력</strong>
                        <p class="txt">
                            <span class="txt_top"
                                ><span class="emph">원곡고등학교</span></span
                            ><span class="txt_bottom">고등학교 졸업</span>
                        </p>
                    </li>
                    <li class="item">
                        <strong class="tit career">경력</strong>
                        <p class="txt">-</p>
                    </li>
                    <li class="item">
                        <strong class="tit payment">희망연봉</strong>
                        <p class="txt">
                            <span class="txt_top"
                                ><span class="emph">회사내규에 따름</span></span
                            >
                        </p>
                    </li>
                    <li class="item">
                        <strong class="tit file">포트폴리오</strong>
                        <p class="txt">-</p>
                    </li>
                </ul>
            </section>
            <section class="resume_skill">
                <h3 class="tit">나의 스킬</h3>
                <div class="skill_box view">
                    <span class="skill_item TipBox"> 일반회계 </span>
                </div>
            </section>
            <div class="resume_part">
                <div class="part part_education">
                    <div class="box_tit">
                        <h2 class="tit">학력</h2>
                        <span class="txt">고등학교 졸업</span>
                    </div>
                    <div class="box_con">
                        <div class="box_list">
                            <h3 class="tit">
                                <span>원곡고등학교</span>
                                <span class="job_team_name"> </span>
                            </h3>
                            <span class="date">
                                <span class="status">졸업</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="resume_footer" class="resume_footer footer_preview">
                    <div class="sign">
                        위의 모든 내용은 사실과 다름 없음을 확인합니다.<br />
                        입사지원일 : 2024년 10월 17일 (목)/ 작성자 :
                        <b>오현준</b>
                    </div>
                    <div class="resume_notice">
                        위조된 문서를 등록하여 취업활동에 이용시 법적 책임을
                        지게 될 수 있습니다.<br />
                        (주)사람인은 구직자가 등록한 문서에 대해 보증하거나
                        별도의 책임을 지지 않으며<br />
                        첨부된 문서를 신뢰하여 발생한 법적 분쟁에 책임을 지지
                        않습니다. (개인회원약관 제16조 관련)<br />
                        또한 구인/구직 목적 외 목적으로 이용 시 이력서 삭제 혹은
                        비공개 조치될 수 있습니다.
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/corporation/corporation-login-main-resume.js"></script>
</html>
