<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>기업 메인페이지</title>
    </head>
    <body>
        <div id="sri_section" class="layout_full">
            <div id="sri_wrap">
                <div id="content">
                    <div class="wrap_company_view">
                        <div class="sidebar recommendation">
                            <div class="scroller"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
