#container {
    position: relative;
}

body {
    min-width: 1580px;
}

/*헤더*/
#sri_header.integrated_header {
    padding: 18px 40px 0 0;
    border-bottom: 1px solid #eaedf4;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    min-width: 700px;
}

#sri_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    padding: 24px 40px 0 0;
    height: 64px;
    box-sizing: border-box;
    font-size: 0;
    text-align: right;
}

#sri_header:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 272px;
    z-index: 1;
    background: #fff;
    content: "";
    opacity: 0.95;
}

#sri_header.integrated_header .area_logo {
    margin-left: 64px;
    padding-top: 4px;
}

#sri_header.integrated_header .area_logo .link_saramin_logo {
    margin-right: 6px;
}

#sri_section {
    display: grid;
    grid-template-areas:
        "gnb main"
        "gnb footer";
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    width: 100%;
    min-width: 1560px;
    min-height: 100%;
    box-sizing: border-box;
}

.sri_gnb_section #sri_gnb_wrap.sri_gnb_wrap {
    margin-top: 64px;
    padding-top: 36px;
}

.sri_gnb_section #sri_gnb_wrap {
    padding-top: 96px;
}

#sri_gnb_wrap {
    grid-area: gnb;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 25;
    width: 271px;
    border-right: 1px solid #f0f0f0;
    background: #fff;
    transition: width 0.5s;
}

#sri_gnb_wrap .gnb {
    margin: 0 auto;
    width: 240px;
}

#sri_gnb_wrap .gnb>li {
    position: relative;
}

#sri_gnb_wrap .gnb>li>a {
    display: block;
    position: relative;
    padding: 10px 0 14px 56px;
    height: 44px;
    box-sizing: border-box;
}

#sri_gnb_wrap .gnb>li.only.selected>a:before {
    opacity: 1;
}

#sri_gnb_wrap .gnb>li.selected>a:before {
    background: #eff5ff;
}

#sri_gnb_wrap .gnb>li>a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 240px;
    height: 44px;
    border-radius: 5px;
    background: #f4f6fa;
    transition: opacity 0.5s;
    content: "";
    opacity: 0;
}

#sri_gnb_wrap .gnb>li>a>svg {
    display: block;
    position: absolute;
    top: 10px;
    left: 16px;
    z-index: 3;
    width: 24px;
    height: 24px;
}

#sri_gnb_wrap .gnb>li.selected>a svg use {
    color: #4876ef;
}

#sri_gnb_wrap .gnb>li>a>svg use {
    color: #afbac8;
}

#sri_gnb_wrap .gnb>li.selected>a>.txt {
    color: #4876ef;
    font-weight: bold;
}

#sri_gnb_wrap .gnb>li>a>.txt {
    display: block;
    position: relative;
    z-index: 2;
    color: #5c667b;
    font-size: 15px;
    line-height: 24px;
}

#sri_gnb_wrap .gnb>li+li {
    margin-top: 8px;
}

#sri_gnb_wrap .gnb>li {
    position: relative;
}

/* 바디 */
#sri_wrap {
    grid-area: main;
    display: table-row;
    width: 100%;
    height: 100%;
}

#content {
    position: relative;
    margin: 88px auto 136px;
    width: 1248px;
}

.wrapper_narrow .wrap_title {
    margin-bottom: 45px;
}

.wrap_title {
    color: #373f57;
    font-size: 36px;
    font-weight: bold;
    line-height: 56px;
}

.update_password_wrap {
    margin: 56px auto 0;
    width: 500px;
    font-size: 14px;
    line-height: 1.43;
}

.update_password_box {
    color: var(--gray110);
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 36px;
    background-color: var(--gray10);
    border-radius: 15px;
    padding: 24px;
    text-align: center;
}

.update_password_desc {
    height: 24px;
    color: var(--gray110);
    font-size: 15px;
    line-height: 20px;
}

.update_password_table {
    margin-top: 24px;
    width: 100%;
    border-collapse: collapse;
    color: var(--gray90);
    table-layout: fixed;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: inherit;
    line-height: 100%;
}

.update_password_table th {
    width: 144px;
    line-height: 50px;
    vertical-align: top;
}

.update_password_table th, .update_password_table td {
    padding: 16px 0;
    border-bottom: 1px solid var(--gray30);
    text-align: left;
}

.update_password_table .type_button {
    width: 320px;
    box-sizing: border-box;
}

.TypoBox.TypeBtn {
    display: flex;
    align-items: center;
}

.TypoBox {
    display: inline-block;
    position: relative;
    border: 1px solid var(--gray70);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--white);
}

.TypoBox:hover {
    background: var(--gray20);
}

.TypoBox.TypeBtn .Typo {
    width: auto;
}

.TypoBox .Typo.SizeL {
    padding: 12px;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
}

.TypoBox .Typo {
    padding: 8px 12px;
    width: 100%;
    height: 38px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    background: none;
}
.update_password_table .type_button .Typo {
    width: 100%;
}

.update_password_table .btn_toggle {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    color: #afbac8;
    z-index: 1;
}

.update_password_table .btn_toggle>svg {
    width: 100%;
    height: 100%;
}

.update_password_new th, .update_password_new td {
    padding-bottom: 6px;
    border-bottom: 0;
}
.update_password_table .verified_result {
    display: none;
    margin-top: 12px;
}

.verified_result.level_0 .verified_result_bar span, .verified_result.level_1 .verified_result_bar span:not(:first-child), .verified_result.level_2 .verified_result_bar span:nth-of-type(2)~span, .verified_result.level_3 .verified_result_bar span:nth-of-type(n + 3)~span, .verified_result.level_4 .verified_result_bar span:nth-of-type(n + 4)~span {
    background-color: var(--gray30);
}
.verified_result.level_3, .verified_result.level_4, .verified_result.level_5 {
    display: block;
    color: var(--blue80);
}
.verified_result.level_3 .verified_result_bar span {
    background-color: var(--blue50);
}
.verified_result.level_5 .verified_result_bar span {
    background-color: #3769ed;
}

.verified_result.level_4 .verified_result_bar span {
    background-color: var(--blue70);
}
.verified_result.level_1 .verified_result_bar span, .verified_result.level_2 .verified_result_bar span {
    background-color: var(--coral90);
}
.verified_result.level_0, .verified_result.level_1, .verified_result.level_2 {
    display: block;
    color: var(--coral90);
}




.update_password_table .verified_result_bar span:first-child {
    margin-left: 2px;
}


.update_password_table .verified_result_bar span {
    float: left;
    margin-left: 4px;
    width: 60px;
    height: 4px;
    border-radius: 2px;
}

.update_password_table .verified_result_bar:after {
    display: table;
    clear: both;
    content: "";
}

.update_password_table .verified_result_text {
    margin: 8px 0;
    width: 320px;
    font-size: 13px;
    line-height: 1.54;
}

.update_password_new+tr th, .update_password_new+tr td {
    padding-top: 6px;
}

.update_password_caution {
    margin: 40px 0 56px;
    width: 470px;
    color: var(--gray70);
    font-size: 14px;
    line-height: 1.43;
}

.password_caution_title {
    display: inline-block;
    margin-bottom: 8px;
    height: 24px;
    font-weight: bold;
}

.update_password_caution .icon_exclam {
    width: 24px;
    height: 24px;
    color: var(--gray70);
    vertical-align: middle;
}

.password_caution_list>li {
    padding-left: 1em;
    word-break: keep-all;
}

.password_caution_list>li:before {
    margin-left: -0.75em;
    padding-right: 0.25em;
    color: var(--gray90);
    content: "·";
}

.password_caution_list>li>strong {
    color: var(--gray110);
    font-weight: normal;
}

.password_caution_list>li {
    padding-left: 1em;
    word-break: keep-all;
}

.update_password_btns {
    margin: 0 auto;
    text-align: center;
}

.update_password_btns .BtnType {
    width: 150px;
}

[class*="BtnType"].BlueInvert {
    border-color: var(--blue90);
    color: var(--blue90);
    background: var(--white);
}

[class*="BtnType"].SizeL {
    padding: 10px 15px 12px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
}

[class*="BtnType"] {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--blue90);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--white);
    text-align: center;
    vertical-align: top;
    background-color: var(--blue90);
    justify-content: center;
    align-items: center;
}

.update_password_btns .BtnType+.BtnType {
    margin-left: 8px;
}

[class*="BtnType"].BlueInvert:hover {
    background: var(--blue20);
}

[class*="BtnType"]:hover {
    border-color: var(--blue100);
    background-color: var(--blue100);
}