#container {
    position: relative;
}

body.no_gnb {
    min-width: 1280px;
}
.no_gnb #sri_section {
    min-width: 1260px;
    grid-template-areas:
        "main"
        "footer";
    grid-template-columns: auto;
}

#sri_section {
    display: grid;
    grid-template-areas:
        "gnb main"
        "gnb footer";
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    width: 100%;
    min-width: 1560px;
    min-height: 100%;
    box-sizing: border-box;
}

#sri_wrap {
    grid-area: main;
    display: table-row;
    width: 100%;
    height: 100%;
}

#content {
    position: relative;
    margin: 88px auto 0px;
    width: 1248px;
}

/* 왼쪽 사이드바 */
.resume_wrap {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    padding-top: 20px;
    justify-content: space-between;
}

.resume_snb {
    position: relative;
    width: 294px;
}

.resume_snb .snb_box {
    padding: 24px 16px 24px;
    width: 294px;
    border-radius: 8px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 4px 16px rgba(21, 39, 111, 0.08);
}

.resume_snb .snb_box .snb_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.resume_snb .snb_box .snb_top .tit {
    color: var(--gray120);
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
}

.resume_snb .snb_box .snb_top .tit, .resume_snb .snb_box .snb_top .persent {
    color: var(--gray120);
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
}

.resume_snb .snb_box .progress_bar {
    position: relative;
    margin: 16px 0;
}

.resume_snb .snb_box .progress_bar:before {
    display: block;
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background: var(--gray30);
    content: "";
}

.resume_snb .snb_box .progress_bar.per100:after {
    width: 100%;
}

.resume_snb .snb_box .progress_bar:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 100px;
    background: linear-gradient(270deg, #5189fa 0%, #bcd1fc 100%);
    transition: transform 0.5s ease;
    transform-origin: left center;
    content: "";
}
.resume_snb .snb_box .txt {
    color: var(--gray100);
    font-size: 13px;
    line-height: 20px;
}
.resume_snb .snb_box .txt em {
    color: var(--blue90);
}
.resume_snb .item_list {
    margin-top: 16px;
    padding: 16px 0;
    border-top: 1px solid var(--gray40);
}
.resume_snb .item_list .item.active {
    border-radius: 4px;
    background: var(--gray20);
}

.resume_snb .item_list .item {
    display: flex;
    padding: 5px 12px;
    align-items: center;
    justify-content: space-between;
}

.resume_snb .item_list .item .con_link {
    border: none;
    color: var(--gray80);
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    background: none;
}

[class*="BtnType"] {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--blue90);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--white);
    text-align: center;
    vertical-align: top;
    background-color: var(--blue90);
    justify-content: center;
    align-items: center;
}

.resume_snb .item_list .item.essential:after {
    color: var(--gray80);
    font-size: 12px;
    line-height: 20px;
    content: "필수";
}

.resume_snb .item_list .item.add .con_link {
    color: var(--blue90);
    font-weight: bold;
}

.resume_snb .resume_snb_guide {
    display: flex;
    margin-top: 16px;
    padding: 0 20px;
    width: 294px;
    height: 64px;
    border: 1px solid #eff5ff;
    border-radius: 8px;
    box-sizing: border-box;
    color: #475067;
    font-size: 14px;
    line-height: 20px;
    background: #eff5ff;
    align-items: center;
}

.resume_snb .resume_snb_guide:before {
    display: inline-block;
    margin-right: 4px;
    width: 24px;
    height: 24px;
    background: url('/static/images/my-page/electric-bulb.svg') no-repeat;
    content: "";
}

.resume_snb .resume_snb_guide:after {
    display: inline-block;
    margin-left: auto;
    width: 16px;
    height: 16px;
    background: url('/static/images/my-page/next-arrow-resume.svg') no-repeat;
    content: "";
}

/* 이력서 작성 바디 */
.resume_con {
    width: 930px;
}



.resume_view {
    position: relative;
}

.resume_view .resume_top {
    display: flex;
    align-items: center;
}

.resume_view .resume_top .user_name {
    overflow: hidden;
    max-width: 460px;
    color: var(--gray120);
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.resume_view .resume_top .user_career {
    margin-left: 8px;
    width: 128px;
}

.InpBox {
    display: inline-block;
    vertical-align: top;
}

.resume_view .resume_top .user_career select {
    border-color: var(--gray40);
}

.InpBox.SizeS select {
    height: 32px;
    font-size: 13px;
}

.InpBox select {
    padding: 0 28px 0 12px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--gray70);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    background: var(--white) url('/static/images/my-page/drop-down-resume.svg') no-repeat right 12px top 50%;
    cursor: pointer;
    -webkit-appearance: none;
}
.InpBox select:hover {
    background-color: var(--gray20);
}

.resume_view .user_desc {
    margin: 8px 0 20px;
    color: var(--gray80);
    font-size: 16px;
    line-height: 24px;
}

.user_hide {
    display: flex;
    margin-bottom: 8px;
    color: var(--gray80);
    font-size: 13px;
    line-height: 20px;
    align-items: center;
}

.user_hide span {
    display: flex;
    margin-right: 8px;
    padding: 6px 8px;
    border-radius: 4px;
    color: var(--gray100);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    border: 1px solid var(--gray20);
    background: var(--gray20);
    align-items: center;
    cursor: pointer;
}
.user_hide span:hover {
    border-color: var(--gray40);
}

.user_hide.on span:before {
    background: url('/static/images/my-page/hide-on-resume.svg') no-repeat;
}

.user_hide span:before {
    display: block;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background: url('/static/images/my-page/hide-resume.svg') no-repeat;
    content: "";
}

.resume_view .user_info li {
    display: inline-flex;
    color: var(--gray120);
    font-size: 15px;
    line-height: 22px;
    align-items: center;
}

.resume_view .user_info li.user_email:before {
    background: url('/static/images/my-page/resume-mail.svg') no-repeat;
}

.resume_view .user_info li:before {
    display: inline-block;
    margin-right: 12px;
    width: 16px;
    height: 16px;
    content: "";
    flex-shrink: 0;
}

.resume_view .user_info li.user_phone:before {
    background: url('/static/images/my-page/resume-phone.svg') no-repeat;
}

.resume_view .user_info li.user_address {
    display: block;
    margin: 8px 0 0 0;
}

.resume_view .user_address {
    display: flex;
    align-items: center;
    margin: 0 0 16px;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
}

.resume_view .user_info li.user_address:before {
    background: url('/static/images/my-page/resume-home.svg') no-repeat;
}

.resume_view .picture_box {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 64px;
    width: 100px;
    min-height: 100px;
    max-height: 140px;
    border: 1px solid var(--gray30);
    border-radius: 4px;
}

.resume_view .picture_box .picture {
    overflow: hidden;
    position: relative;
    width: 100px;
    min-height: 100px;
    max-height: 140px;
}

.resume_view .picture_box .picture img {
    vertical-align: top;
}
.resume_view .picture_box .picture.none {
    height: 140px;
    border: none;
    background: var(--gray20) url(https://www.saraminimage.co.kr/sri/resume/img_picture_none5.png) center / 100% no-repeat;
}


.resume_view .user_modify {
    position: absolute;
    top: 0;
    right: 20px;
    width: 32px;
    height: 32px;
    border-color: var(--white);
    background: url('/static/images/my-page/resume-picture.svg') center no-repeat;
}
.resume_view .user_modify:hover {
    background-color: var(--gray20);
}
.resume_view .user_info li+li {
    margin-left: 60px;
}
.resume_con .resume_tit .box_tit .must {
    margin-left: 8px;
    color: var(--coral90);
    font-size: 12px;
    line-height: 20px;
}
.resume_con .resume_tit .box_tit .tit {
    display: flex;
    color: var(--gray120);
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    align-items: center;
}

/* 학력 */
.resume_con section+section {
    padding-top: 60px;
}
.resume_con .resume_tit {
    display: flex;
    margin-bottom: 9px;
    padding: 0 12px 0 20px;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
}

.resume_con .resume_tit .box_tit {
    display: flex;
    margin-right: auto;
    align-items: center;
}
.resume_con .resume_tit .box_tit .career_txt {
    display: flex;
    align-items: center;
}
.career_txt {
    margin-top: 8px;
    color: var(--gray80);
    font-size: 13px;
    line-height: 20px;
}

.resume_con .resume_tit .box_tit .career_txt span {
    display: flex;
    margin-left: 20px;
    padding: 0 8px;
    height: 24px;
    border-radius: 4px;
    color: var(--gray100);
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    background: var(--gray20);
    align-items: center;
}

.resume_con .resume_tit .box_tit .career_txt button {
    display: flex;
    margin-left: 5px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
}

.resume_con .resume_tit button {
    display: flex;
    padding: 6px 11px;
    height: 40px;
    border-color: var(--white);
    border-radius: 4px;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    background: var(--white);
    align-items: center;
}

.resume_con .resume_tit .box_tit .career_txt button svg {
    margin: 0;
    width: 16px;
    height: 16px;
    color: var(--blue80);
    flex-shrink: 0;
}

.resume_con .resume_tit button svg {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    fill: var(--gray100);
}

.resume_con .resume_none {
    padding: 40px 0;
    border-top: 1px solid var(--gray40);
    color: var(--gray80);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.resume_list {
    border-top: 1px solid var(--gray40);
}
.resume_list .list {
    display: flex;
    position: relative;
    margin: 0 28px;
    padding: 28px 0;
    line-height: 26px;
    align-items: flex-start;
}

.resume_list .contents {
    display: flex;
    width: calc(100% - 40px);
    flex-wrap: wrap;
}

.resume_list .contents .school_badge {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    margin-bottom: 4px;
    padding: 0 8px;
    color: var(--gray100);
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 4px;
    background: var(--gray20);
}

.resume_school .resume_list .contents .tit {
    display: block;
}

.resume_list .contents .tit {
    width: 100%;
    color: var(--gray120);
    font-size: 18px;
    font-weight: bold;
    word-break: break-all;
}

.resume_school .resume_list .contents .tit span {
    max-width: calc(100% - 60px);
}

.resume_school .resume_list .contents .tit span {
    max-width: calc(100% - 60px);
}

.resume_list .contents .date {
    display: inline-block;
    color: var(--gray80);
    font-size: 16px;
    font-weight: normal;
}

.resume_list .contents .date:before {
    display: inline-block;
    margin: 0 8px;
    width: 1px;
    height: 12px;
    background: var(--gray40);
    content: "";
}

.resume_list .contents .desc {
    margin-top: 8px;
    width: 100%;
    color: var(--gray120);
    font-size: 16px;
    line-height: 24px;
    word-break: break-all;
}

.resume_list .faculty {
    display: flex;
    margin-top: 16px;
    width: 100%;
    color: var(--gray120);
    font-size: 14px;
    line-height: 20px;
    flex-wrap: wrap;
    gap: 4px 0;
}

.resume_list .contents_edit {
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    flex-shrink: 0;
    gap: 8px;
}

.resume_list .contents_edit button {
    min-width: 32px;
    height: 32px;
    border-color: var(--white);
    background: var(--white);
}

.resume_list .contents_edit button svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: var(--gray80);
}

.resume_list .contents_edit button:hover {
    background: var(--gray20);
}

.resume_con .resume_tit button:hover {
    background: var(--gray20);
}

/* 학력 구분 선택 */
.resume_edit {
    position: relative;
    padding: 32px 40px;
    border-top: 2px solid var(--blue80);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 4px 16px 0 rgba(17, 42, 128, 0.08);
}

.resume_edit .item_row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.resume_edit .item_m {
    width: 278px;
    flex-shrink: 0;
}

.InpBox.SizeL select {
    height: 48px;
    font-size: 16px;
    line-height: 24px;
}

.resume_edit .resume_save {
    display: flex;
    margin-top: 24px;
    justify-content: flex-end;
}

.resume_edit .resume_save button {
    width: 80px;
}

[class*="BtnType"].BlueInvert {
    border-color: var(--blue90);
    color: var(--blue90);
    background: var(--white);
}

[class*="BtnType"].SizeL {
    padding: 10px 15px 12px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
}

.resume_edit .resume_save button+button {
    margin-left: 8px;
}

/* 초등학교 졸업 */
.resume_edit .item_row.item_career {
    margin-bottom: 16px;
}

.resume_edit .item_row.item_center {
    align-items: center;
}

.resume_edit .item_row .item_check {
    margin-left: 4px;
}

.InpBox .Chk {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.InpBox .Chk input {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    outline: none;
    opacity: 0;
    pointer-events: none;
}
.InpBox .Chk.SizeL .Lbl {
    font-size: 16px;
    line-height: 24px;
}

.InpBox .Chk .Lbl {
    display: block;
    position: relative;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
}

.InpBox .Chk.SizeL .Lbl:before {
    width: 22px;
    height: 22px;
}

.InpBox .Chk .Lbl:before {
    display: inline-block;
    margin-right: 8px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--gray70);
    border-radius: 4px;
    vertical-align: top;
    background: #fff;
    content: '';
}

.resume_edit .item_row+.item_row {
    margin-top: 20px;
}

.TypoBox.TypeBtn {
    display: flex;
    align-items: center;
}

.TypoBox.LblTop:has(.Typo.SizeXL)>.Lbl, .TypoBox.LblTop:has(.Typo.SizeML)>.Lbl, .TypoBox.LblTop:has(.Typo.SizeL)>.Lbl {
    font-size: 16px;
    line-height: 24px;
}

.TypoBox.LblTop .Lbl {
    position: absolute;
    top: 50%;
    left: 12px;
    color: var(--gray80);
    font-size: 14px;
    line-height: 20px;
    transition: all 300ms ease;
    transform: translateY(-50%);
    background-color: var(--white); /* 배경으로 레이블이 가리지 않게 함 */
    padding: 0 10px;
}


.TypoBox label {
    cursor: unset;
}

.TypoBox {
    display: inline-block;
    position: relative;
    border: 1px solid var(--gray70);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--white);
}

.resume_edit .ability_box .TypoBox, .resume_edit .TypoBox .Typo {
    width: 100%;
}

.TypoBox .Typo.SizeL {
    padding: 12px;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
}

.TypoBox .Typo {
    padding: 8px 12px;
    width: 100%;
    height: 38px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    background: none;
}


.resume_edit .item_s {
    width: 135px;
    flex-shrink: 0;
}

.blind {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    width: 1px;
    height: 1px;
    font-size: 0;
}

.TypoBox.LblTop:has(.Typo.DatePic) .Lbl {
    position: absolute;
    left: 36px;
}

.TypoBox .Typo.DatePic {
    padding-left: 36px;
    background: url('/static/images/my-page/resume-date.svg') left 13px center no-repeat;
}

.TypoBox.LblTop:has(.Typo.DatePic:focus) .Lbl, .TypoBox.LblTop:has(.Typo.DatePic:-webkit-autofill) .Lbl, .TypoBox.LblTop:has(.Typo.DatePic:read-only) .Lbl, .TypoBox.LblTop:has(.Typo.DatePic:disabled) .Lbl, .TypoBox.LblTop:has(.Typo.DatePic:valid) .Lbl, .TypoBox.LblTop:has(.Typo.DatePic.Invalid) .Lbl {
    left: 12px;
}

.TypoBox.LblTop:has(.Typo:focus) .Lbl, .TypoBox.LblTop:has(.Typo:-webkit-autofill) .Lbl, .TypoBox.LblTop:has(.Typo:read-only) .Lbl, .TypoBox.LblTop:has(.Typo:disabled) .Lbl, .TypoBox.LblTop:has(.Typo:valid) .Lbl, .TypoBox.LblTop:has(.Typo.Invalid) .Lbl {
    top: -10px;
    padding: 0 4px;
    border-radius: 4px;
    font-size: 12px;
    background-color: var(--white) !important;
    transform: none;
}

.TypoBox:hover {
    background: var(--gray20);

}
.TypoBox.LblTop:hover .Lbl {
    background-color: var(--gray20); /* 레이블의 배경을 hover 색상으로 변경 */

}

/* 초등 검정고시 */
.resume_edit .item_close+.item_row {
    margin-top: 0;
}

.InpBox .Chk input:checked~.Lbl:before {
    border-color: var(--blue90);
    background: var(--blue90);
}

.InpBox .Chk input:checked~.Lbl:after {
    display: inline-block;
    border-color: var(--white);
}

.InpBox .Chk.SizeL .Lbl:after {
    top: 7px;
    left: 6px;
    width: 10px;
    height: 5px;
}

.InpBox .Chk .Lbl:after {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 5px;
    border-bottom: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-radius: 1px;
    transform: rotate(-45deg);
    content: '';
}

/* 유효성 */
.TypoBox:has(.Typo.Invalid) {
    border-color: var(--coral110);
}
.InpBox.Invalid select {
    border-color: var(--coral110);
}

/* 스킬 */
.resume_con .resume_tit .TipBox {
    margin-left: 8px;
}

.TipBox {
    position: relative;
}

.resume_con .resume_tit .TipBox svg {
    width: 16px;
    height: 16px;
    color: var(--gray80);
}

.skill_box.view {
    width: 100%;
}

.skill_box {
    display: flex;
    margin-top: 12px;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px 4px;
}

.skill_box.view .skill_item {
    border-color: var(--blue40);
}.skill_box .skill_item {
    display: inline-flex;
    position: relative;
    padding: 7px 11px;
    height: 36px;
    border: 1px solid var(--gray40);
    border-radius: 32px;
    box-sizing: border-box;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    background: var(--white);
    align-items: center;
    justify-content: center;
}

.skill_box.view .skill_item.skill_hide_add {
    border: 1px dashed var(--gray40);
    padding: 7px 6px 7px 12px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: var(--gray120);
}
.skill_box.view .skill_item.skill_hide_add:hover {
    color: var(--blue90);
}
.skill_box.view .skill_item.skill_hide_add:before {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    background-image: url('/static/images/my-page/resume-plus.svg');
    content: '';
}
.skill_box.view .skill_item.skill_hide_add:after {
    padding: 1px 8px;
    font-size: 12px;
    line-height: 22px;
    color: var(--blue90);
    font-weight: bold;
    border-radius: 54px;
    box-sizing: border-box;
    background-color: var(--blue20);
    margin-left: 8px;
    content: '서류합격률 UP';
}
.resume_edit .item_full {
    width: 100%;
}

.resume_con .btn_delete {
    flex-shrink: 0;
}

.resume_con .btn_delete svg {
    display: block;
    width: 24px;
    height: 24px;
    color: var(--gray70);
    fill: var(--gray70);
}

.resume_con .btn_search {
    margin: 0 12px 0 8px;
    flex-shrink: 0;
}

.resume_con .btn_search svg {
    display: block;
    width: 24px;
    height: 24px;
}

button:disabled svg {
    color: var(--gray50);
}

.area_auto_search {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 49px;
    right: 0;
    z-index: 10;
    width: 100%;
    border: 1px solid #d7dce5;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 2px 6px 16px rgba(17, 42, 128, 0.08);
}



.area_auto_search .auto_search {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 222px;
}

.area_auto_search .area_scroll {
    overflow-y: auto;
    box-sizing: border-box;
}

.area_auto_search.company_search .list_auto_search .area_link {
    padding: 10px 16px;
    cursor: pointer;
}

.area_auto_search .auto_search .list_auto_search .area_link {
    display: block;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    color: #373f57;
    font-size: 13px;
}

.area_auto_search.company_search .list_auto_search .area_link div, .area_auto_search.company_search .list_auto_search .area_link div span {
    width: 100%;
}

.area_auto_search .auto_search .list_auto_search .area_link:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}




.resume_edit .box_tit {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.resume_edit .tit_sub:first-child {
    margin-top: 0;
}

.resume_edit .box_tit .tit_sub {
    margin-bottom: 0;
    margin-right: 20px;
}

.resume_edit .tit_sub {
    display: flex;
    margin: 32px 0 12px;
    color: var(--gray100);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    align-items: center;
}

.resume_edit .box_tit .progress_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
    flex-shrink: 0;
}

.resume_edit .box_tit .progress_circle .svg.step5.reverse {
    animation: restore 1s ease-in-out both;
}

.resume_edit .box_tit .progress_circle svg {
    display: block;
    width: 16px;
    height: 16px;
}

.resume_edit .box_tit .progress_circle .border {
    fill: none;
    stroke: #D7DCE5;
    stroke-width: 3;
}



.resume_edit .box_tit .progress_circle .progress, .progress_second {
    fill: none;
    stroke: #94B5FC;
    stroke-width: 3;
    stroke-dasharray: 37.68;
    stroke-dashoffset: 37.68;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
    animation: progress 2s ease-in-out both;
}
.resume_edit .box_tit .progress_circle .svg .progress_second {
    stroke: #3769ED;
    animation: step0 1s ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.step1 .progress {
    animation: step1 1s ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.step2 .progress {
    animation: step2 1s ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.step3 .progress {
    animation: step3 1s ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.step4 .progress {
    animation: stepmaintain ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.step4 .progress_second {
    animation: step4 1s ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.step5 .progress {
    animation: stepmaintain ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.step5 .progress_second {
    animation: step5 1s ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.step5 {
    animation: complete 3s ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.step5 .border {
    animation: step_set 3s ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.reverse.step5 .border {
    animation: restep_set 3s ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.step1.reverse .progress {
    animation-name: step1reverse;
    animation-duration: 1s
}

.resume_edit .box_tit .progress_circle .svg.reverse.step2 .progress {
    animation-name: step2reverse;
    animation-duration: 1s;
}

.resume_edit .box_tit .progress_circle .svg.reverse.step3 .progress {
    animation-name: step3reverse;
    animation-duration: 1s
}

.resume_edit .box_tit .progress_circle .svg.reverse.step4 .progress_second {
    animation-name: step4reverse;
    animation-duration: 1s
}

.resume_edit .box_tit .progress_circle .svg.reverse.step5 {
    animation: restore 1s ease-in-out both
}

.resume_edit .box_tit .progress_circle .svg.reverse.step5 .progress_second {
    animation-name: step5reverse;
    animation-duration: 1s
}

@keyframes step1 {
    0% {
        stroke-dashoffset: 37.68
    }

    100% {
        stroke-dashoffset: 25.12
    }
}

@keyframes step1reverse {
    0% {
        stroke-dashoffset: 25.12;
    }

    100% {
        stroke-dashoffset: 37.68;
    }
}

@keyframes step2 {
    0% {
        stroke-dashoffset: 25.12;
    }

    100% {
        stroke-dashoffset: 12.56;
    }
}

@keyframes step2reverse {
    0% {
        stroke-dashoffset: 12.56;
    }

    100% {
        stroke-dashoffset: 25.12;
    }
}

@keyframes step3 {
    0% {
        stroke-dashoffset: 12.56;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes step3reverse {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 12.56;
    }
}

@keyframes step4 {
    0% {
        stroke-dashoffset: 37.68;
    }

    100% {
        stroke-dashoffset: 19.84;
    }
}

@keyframes step4reverse {
    0% {
        stroke-dashoffset: 19.84;
    }

    100% {
        stroke-dashoffset: 37.68;
    }
}

@keyframes step5 {
    0% {
        stroke-dashoffset: 18.84;
    }

    100% {
        stroke-dashoffset: 0
    }
}
@keyframes step5reverse {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: 18.84
    }
}

@keyframes stepmaintain {
    100% {
        stroke-dashoffset: 0
    }
}

.resume_edit .box_tit .txt {
    font-size: 13px;
    color: var(--gray80);
}

.resume_edit .box_tit .txt strong {
    color: var(--blue90);
}

.skill_box.soft_add .skill_item .skill_modify {
    color: var(--blue80);
    display: flex;
    align-items: center;
}

.skill_box.soft_add .skill_item .skill_modify em {
    margin-right: 4px;
}.skill_box .skill_item em {
    color: var(--gray100);
}
.skill_box.soft_add .skill_item .skill_modify svg {
    color: var(--gray80);
}
.skill_box svg {
    display: block;
    width: 16px;
    height: 16px;
}
.skill_box.soft_add .skill_delete {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: var(--gray70);
}

.skill_box.soft_add .skill_delete:before {
    display: block;
    width: 1px;
    height: 16px;
    background-color: var(--blue30);
    position: absolute;
    left: -4px;
    content: '';
}

.skill_box.soft_add .skill_delete svg {
    color: var(--gray80);
    width: 20px;
    height: 20px;
}

.skill_box.soft_add .skill_item {
    border-color: var(--blue40);
    padding: 8px 12px 8px 16px;
}

.area_auto_search .auto_search .list_auto_search .area_link:hover, .area_auto_search .auto_search .list_auto_search .area_link:focus {
    background-color: #f8fafc;
}


/* 기업으로 부터 제안(만족도 조사?) */
.resume_con section+.resume_open {
    position: relative;
    padding-top: 0;
}

.resume_open .offer_setting {
    margin-top: 56px;
    padding: 32px;
    border: 1px solid #eaedf4;
    border-radius: 16px;
    background: #f8fafc;
}

.resume_open .offer_setting .tit_setting {
    color: #373f57;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
}

.resume_open .offer_setting .txt_setting {
    display: flex;
    margin: 24px 0;
    color: #292e41;
    font-size: 15px;
    line-height: 24px;
}

.resume_open .offer_setting .txt_setting.resume_contact_close:before {
    background-position: 1px 0;
}

.resume_open .offer_setting .txt_setting:before {
    display: block;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background: url(//www.saraminimage.co.kr/sri/person/ico/ico_offer.png) no-repeat;
    content: "";
}

.resume_open .offer_setting .txt_setting strong {
    color: #2d65f2;
    font-weight: bold;
}

.resume_open .offer_setting .resume_open_option {
    display: flex;
    align-items: center;
}

.resume_open .offer_setting .resume_open_option li {
    width: 100%;
}

.resume_open .offer_setting .resume_open_option li .InpBox {
    width: 100%;
}

.InpBox .Rdo {
    position: relative;
}

.InpBox .Rdo input {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    outline: none;
    opacity: 0;
    pointer-events: none;
}
.InpBox.Bg:has(input:checked) {
    border-color: var(--blue90);
}
.InpBox.Bg:has(input:checked) .Lbl {
    padding: 15px 15px 15px 47px;
    border: 2px solid var(--blue90);
}
.InpBox.Bg.White>span .Lbl, .InpBox.Bg.White>span:hover .Lbl {
    background: var(--white);
}
.InpBox .Rdo input:checked~.Lbl:before {
    border-color: var(--blue90);
    background: var(--blue90);
}

.InpBox .Rdo input:checked~.Lbl:after {
    background: var(--white);
}

.InpBox.Bg .Lbl {
    display: block;
    position: relative;
    padding: 16px 16px 16px 48px;
    border: 1px solid var(--gray30);
    border-radius: 4px;
    box-sizing: border-box;
    background: var(--white);
}

.InpBox .Rdo .Lbl {
    display: block;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
}

.InpBox.Bg>span .Lbl:before {
    position: absolute;
    top: 16px;
    left: 16px;
}

.InpBox .Rdo .Lbl:before {
    display: inline-block;
    margin-right: 8px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--gray70);
    border-radius: 50%;
    vertical-align: top;
    background: var(--white);
    content: '';
}

.InpBox.Bg>span .Lbl:after {
    top: 21px;
    left: 21px;
    border-color: var(--blue10);
}

.InpBox .Rdo .Lbl:after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
}

.resume_open .offer_setting .resume_open_option li+li {
    margin-left: 8px;
}

.resume_open .offer_setting .tooltip_area {
    margin-top: 24px;
    display: flex;
}

.resume_open .offer_setting .tooltip_area button {
    display: flex;
    align-items: center;
}

.resume_open .offer_setting .tooltip_area button>svg {
    width: 16px;
    height: 16px;
}

.resume_open .offer_setting .tooltip_area button>span {
    margin-left: 8px;
    color: var(--gray80);
    font-size: 14px;
}

.resume_open .resume_open_notice {
    margin-top: 24px;
}

.resume_open .resume_open_notice .list_square {
    color: #888;
    font-size: 13px;
    line-height: 17px;
}

.resume_open .resume_open_notice .list_square>li {
    position: relative;
    padding-left: 10px;
}
.resume_open .resume_open_notice .list_square>li:before {
    position: absolute;
    top: 6px;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #888;
    content: "";
}

.resume_open .resume_open_notice .list_square>li+li {
    margin-top: 8px;
}

.resume_open .resume_open_notice .list_square>li {
    position: relative;
    padding-left: 10px;
}

/* 아래 이력서 제목 및 작성버튼 */
.resume_btm {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 90;
    padding: 8px 0;
    width: 100%;
    border-top: 1px solid var(--gray40);
    background: #fff;
}

.resume_btm .inner {
    display: flex;
    margin: 0 auto;
    width: 1248px;
    align-items: center;
}

.resume_btm .inner .tit_resume {
    flex-shrink: 0;
    display: block;
    margin-right: 8px;
    color: var(--gray120);
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}

.resume_btm .inner input {
    width: 724px;
    color: var(--gray110);
    font-size: 20px;
    line-height: 28px;
    border: 2px solid var(--blue100);
    border-radius: 8px;
}.resume_btm .inner .BtnType.btn_preview {
    margin: 0 12px 0 20px;
    border-color: var(--blue90);
    color: var(--blue90);
    background: var(--white);
}
.resume_btm .inner .BtnType {
    width: 180px;
}
[class*="BtnType"].BtnTypeRd {
    border-radius: 35px;
}


[class*="BtnType"].SizeML {
    padding: 13px 15px 15px;
    height: 56px;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}

.resume_btm .inner .tip_recommend {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: url('/static/images/my-page/resume-write-info.svg') no-repeat;
    cursor: pointer;
}

.resume_btm .tit_recommend .TipCont {
    width: 566px;
}

.TipBox.Click .TipCont {
    padding-right: 44px;
}

.TipBox .TipCont.BottomLeft {
    bottom: calc(100% + 17px);
    left: 50%;
}

.TipCont {
    display: none;
    position: absolute;
    padding: 12px 16px 14px;
    white-space: nowrap;
    border: 1px solid var(--gray70);
    border-radius: 8px;
    box-sizing: border-box;
    background: var(--white);
    box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.08);
}

.TipCont.BottomLeft .Tail {
    bottom: -19px;
    left: -1px;
    transform: rotate(180deg);
}

.TipCont.BottomLeft .Tail:has(>svg.icon_tail) {
    background: none;
}


.TipCont .Tail {
    position: absolute;
    z-index: 2;
    width: 32px;
    height: 32px;
}

.TipCont.TopRight .Tail:has(>svg.icon_tail) svg.icon_tail, .TipCont.RightBottom .Tail:has(>svg.icon_tail) svg.icon_tail, .TipCont.BottomLeft .Tail:has(>svg.icon_tail) svg.icon_tail, .TipCont.LeftTop .Tail:has(>svg.icon_tail) svg.icon_tail {
    width: 32px;
    height: 32px;
}

.TipCont .Tail:has(>svg.icon_tail) svg.icon_tail {
    color: var(--gray70);
    fill: var(--white);
    background: none;
    margin: 0;
    padding: 0;
}

.TipCont .TipTxt {
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
}

.resume_btm .tit_recommend .tit {
    margin-bottom: 4px;
    color: var(--gray100);
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
}

.resume_btm .tit_recommend .txt {
    display: block;
    overflow: hidden;
    width: calc(100% - 100px);
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.resume_btm .tit_recommend .txt+.txt {
    margin-top: 8px;
}

.resume_btm .tit_recommend .btn_refresh {
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: -32px;
    padding: 0 8px;
    text-align: right;
    height: 32px;
    color: var(--blue90);
    font-size: 13px;
    line-height: 20px;
    border-radius: 4px;
}

.TipBox.Click .BtnClose {
    position: absolute;
    top: 10px;
    right: 12px;
}

.TipBox.Click .BtnClose:after {
    display: block;
    width: 24px;
    height: 24px;
    background: url('/static/images/my-page/resume-tip-close.svg') no-repeat;
    content: "";
}

