.main_content {
    padding: 32px 0;
    width: 100%;
    background: #fff;
}

.main_content>.inner {
    display: grid;
    margin: 0 auto;
    width: 1260px;
    height: 320px;
    grid-template-columns: 296px 598px 300px;
    grid-template-rows: 216px 1fr;
    grid-template-areas:
        "greetings cont banner"
        "greetings cont links";
    gap: 16px 32px;
}

.main_greetings {
    display: grid;
    position: relative;
    grid-area: greetings;
    gap: 16px;
    grid-auto-flow: row;
    grid-template-rows: 164px 62px 62px;
    grid-template-columns: 140px 140px;
    grid-template-areas:
        "btn1 btn2"
        "link1 link1"
        "link2 link2";
}

.main_greetings .btn_greeting {
    display: grid;
    position: relative;
    padding: 28px 0 0 16px;
    grid-auto-flow: row;
    gap: 16px;
    grid-area: btn1;
    align-content: start;
}

.main_greetings .btn_greeting:hover .bg {
    color: #ccf4ff;
}

.main_greetings .btn_greeting .bg {
    color: #e6f9ff;
}

.main_greetings .btn_greeting .bg, .main_greetings .btn_greeting .border {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 140px;
    height: 164px;
}

.main_greetings .btn_greeting .border {
    color: #02c6ff;
}


.main_greetings .btn_greeting>strong {
    position: relative;
    z-index: 2;
    color: #0085ff;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.main_greetings .btn_greeting>span {
    position: relative;
    z-index: 2;
    color: #292e41;
    font-size: 14px;
    line-height: 20px;
}

.main_greetings .btn_greeting:after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
    background-image: url('/static/images/main/test1.svg');
    content: "";
}

/* 공기업 모의고사 */
.main_greetings .btn_greeting+.btn_greeting {
    grid-area: btn2;
}

.main_greetings .btn_greeting {
    display: grid;
    position: relative;
    padding: 28px 0 0 16px;
    grid-auto-flow: row;
    gap: 16px;
    grid-area: btn1;
    align-content: start;
}
.main_greetings .btn_greeting+.btn_greeting .bg {
    color: #fffeee;
}
.main_greetings .btn_greeting+.btn_greeting:hover .bg {
    color: #fffddd;
}

.main_greetings .btn_greeting+.btn_greeting .border {
    color: #ffe15f;
}

.main_greetings .btn_greeting+.btn_greeting>strong {
    color: #ff9a03;
}

.main_greetings .btn_greeting+.btn_greeting:after {
    background-image: url('/static/images/main/test2.svg');
}

.main_greetings .btn_greeting_link {
    display: grid;
    padding: 11px 0 11px 24px;
    border-radius: 16px;
    background: #f4f6fa;
    grid-template-rows: 40px;
    grid-template-columns: 40px 1fr;
    gap: 16px;
    justify-content: start;
    align-items: center;
    grid-area: link1;
}

.main_greetings .btn_greeting_link:hover {
    background: #eaedf4;
}

.main_greetings .btn_greeting_link>.icon {
    display: grid;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: #fff;
    place-content: center;
    place-items: center;
}

.main_greetings .btn_greeting_link>.icon>svg {
    display: block;
    width: 24px;
    height: 24px;
}

.main_greetings .btn_greeting_link>.txt {
    color: #292e41;
    font-size: 14px;
    line-height: 20px;
}

.main_greetings .btn_greeting_link>.txt>b {
    font-weight: 700;
}

.main_greetings .btn_greeting_link+.btn_greeting_link {
    grid-area: link2;
}

/* 배너*/

.main_cont {
    display: grid;
    position: relative;
    padding: 24px 0;
    width: 100%;
    border-radius: 16px;
    box-sizing: border-box;
    background: #f3f4f8;
    box-shadow: 8px 0 20px 0 #f3f4f8 inset, -8px 0 20px 0 #f3f4f8 inset;
    grid-area: cont;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    align-content: start;
}

.main_cont:before, .main_cont:after {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 24px;
    height: 320px;
    border-radius: 16px;
    content: "";
}

.main_cont .tab {
    display: flex;
    padding: 0 24px;
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

.main_cont .tab>li:first-child {
    flex: 0 1 auto;
}

.main_cont .tab>li {
    flex: 0 0 auto;
}

.main_cont .tab>li>button {
    display: grid;
    position: relative;
    padding: 4px 8px;
    grid-template-columns: 14px auto;
    align-items: center;
    gap: 4px;
}


.main_cont .tab>li .tab_recruit>svg {
    color: #2d67ff;
}

.main_cont .tab>li>button>svg {
    z-index: 2;
    width: 14px;
    height: 14px;
}

.main_cont .tab>li>button>span {
    display: flex;
    z-index: 2;
    color: #292e41;
    font-size: 14px;
    white-space: nowrap;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
}

.main_cont .tab>li>button>span>b {
    overflow: hidden;
    max-width: 48px;
    font-weight: normal;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    flex: 1 1 auto;
}

.main_cont .tab>li>button.active>svg, .main_cont .tab>li>button.active>span {
    color: #fff;
}

.main_cont .tab>li .tab_jobs_major>svg {
    color: #ff7a72;
}

.main_cont .tab>li>button.active:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 20px;
    background: #2d67ff;
    content: "";
}

.main_cont .tab>li .tab_jobs_public>svg {
    color: #4876ef;
}

.main_cont .wrap_cont {
    position: relative;
    z-index: 1;
}
.main_cont .wrap_swiper {
    overflow: hidden;
    padding: 24px 0;
}

.main_cont .items {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.main_cont .items .item:hover .inner {
    box-shadow: 0 4px 10px 0 rgba(14, 12, 31, 0.10);
}

.main_cont .items .item:first-of-type {
    padding-left: 24px;
}
.main_cont .items .item {
    position: relative;
    box-sizing: border-box;
}
.main_cont .items .item_recruit .inner {
    align-items: start;
}

.main_cont .items .item .inner {
    display: grid;
    padding: 16px;
    width: 192px;
    height: 220px;
    border-radius: 16px;
    box-sizing: border-box;
    background: #fff;
    grid-auto-flow: row;
    align-items: center;
    grid-template-rows: auto 1fr auto;
}

.main_cont .items .item_recruit .item_header .logo {
    position: relative;
    margin: 8px 0 32px;
    width: 104px;
    height: 28px;
}

.main_cont .items .item_recruit .item_header .logo>.img {
    position: absolute;
    top: 50%;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    transform: translateY(-50%);
    object-fit: contain;
}

.main_cont .items .item_recruit .item_body {
    display: grid;
    grid-auto-flow: row;
    gap: 4px;
}

.main_cont .items .item_recruit .item_body strong {
    display: -webkit-box;
    overflow: hidden;
    max-height: 48px;
    color: #292e41;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main_cont .items .item_recruit .item_body span {
    overflow: hidden;
    max-width: 100%;
    color: #475067;
    font-size: 13px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_cont .items .item_recruit .item_footer {
    color: #67738e;
    font-size: 13px;
    line-height: 20px;
    justify-self: end;
}

.main_cont .items .item+.item {
    padding-left: 16px;
}

.main_cont .btn_prev.swiper-button-disabled, .main_cont .btn_next.swiper-button-disabled {
    display: none;
}

.main_cont .btn_prev {
    left: -16px;
}
.main_cont .btn_next {
    right: -16px;
}

.main_cont .btn_prev, .main_cont .btn_next {
    display: grid;
    position: absolute;
    top: 159px;
    z-index: 3;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(55, 63, 87, 0.13);
    backdrop-filter: blur(4px);
    align-items: center;
    justify-content: center;
}

.hidden, .blind {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    width: 1px;
    height: 1px;
}

.main_cont .btn_next:after {
    transform: scaleX(-1);
}

.main_cont .btn_prev:after, .main_cont .btn_next:after {
    width: 9px;
    height: 15px;
    background-image: url('/static/images/main/back-btn.svg');
    content: "";
}

.main_cont:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #f3f4f8 100%);
}

.main_banner {
    overflow: hidden;
    border-radius: 16px;
    grid-area: banner;
}

.main_banner a, .main_banner img {
    display: block;
    width: 300px;
    height: 216px;
}

.main_links {
    display: grid;
    padding: 12px 16px;
    border-radius: 16px;
    background: #e0ffed;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 64px;
    align-items: center;
    justify-content: space-between;
}

.main_links>a:hover {
    outline: 1px solid #00cc52;
    outline-offset: -1px;
}

.main_links>a {
    display: grid;
    padding: 10px 0;
    border-radius: 16px;
    background: #fff;
    grid-auto-flow: row;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
}

.main_links>a>svg {
    width: 24px;
    height: 24px;
}

.main_links>a>span {
    color: #475067;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    white-space: nowrap;
}

/* 배너 광고 이미지 */
.main_product {
    display: grid;
    position: relative;
    z-index: 1;
    grid-auto-flow: row;
    gap: 32px;
}

.cont_product.prd_platinum {
    padding: 32px 0;
}

.cont_product {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
}

.cont_product .inner_cont {
    display: grid;
    position: relative;
    margin: 0 auto;
    width: 1260px;
    grid-auto-flow: row;
    gap: 24px;
}


.main_product .cont_banner {
    overflow: hidden;
    width: 1260px;
    height: 60px;
    border-radius: 8px;
    text-align: center;
}

/* 회원님이 꼭 봐야할 목록(플래티넘) */
.top_poduct {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.tit_cont {
    display: inline-block;
    color: #292e41;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    vertical-align: top;
}

.cont_product .btn_product {
    float: right;
    padding: 2px 0;
    color: #292e41;
    font-size: 14px;
}

.cont_product .btn_product span {
    display: flex;
    position: relative;
}

.cont_product .btn_product .icon_info {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    color: #292e41;
}

.cont_product .btn_close:after, .cont_product .btn_product:after {
    display: block;
    overflow: hidden;
    background: url(//www.saraminimage.co.kr/sri/main/img_main_spr_200710.png) no-repeat 0 0;
    content: "";
}
.main_product .prd_platinum .prd_list li.option:hover {
    height: 442px;
}
.main_product .prd_list li:hover {
    z-index: 2;
}
.main_product .prd_platinum .prd_list {
    grid-auto-rows: 270px;
}

.cont_product .inner_cont>ul {
    position: relative;
}

.main_product .banner_list, .main_product .prd_list {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.main_product .prd_platinum .prd_list.plus li.expanded {
    grid-row: 1 / span 2;
}

.main_product .banner_list li, .main_product .prd_list li {
    position: relative;
    z-index: 1;
}

.main_product .prd_platinum .prd_list.plus li.expanded a, .main_product .prd_platinum .prd_list.plus li.option:hover a {
    padding: 16px;
    grid-template-rows: 72px 112px 32px 100px 140px 70px;
    grid-template-areas:
        "date"
        "logo"
        "c_name"
        "title"
        "cont"
        "badge";
}

.main_product .prd_platinum .prd_list.plus li.expanded a {
    box-shadow: none;
}

.main_product .prd_platinum .prd_list.plus li.option:hover a, .main_product .prd_platinum .prd_list.plus li.expanded a {
    padding: 24px;
    height: 560px;
    border: 0;
}

.main_product .prd_platinum .prd_list.plus li a {
    padding: 15px 23px;
    border-color: #d7dce5;
    grid-template-rows: 56px 52px 130px;
    grid-template-areas:
        "logo logo"
        "title title"
        "badge date";
    grid-template-columns: 1fr auto;
}

.main_product .prd_list.plus li a {
    border-color: #2d67ff;
}

.main_product .banner_list li a, .main_product .prd_list li a {
    display: grid;
    position: absolute;
    z-index: 1;
    padding: 23px;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #d7dce5;
    border-radius: 16px;
    box-sizing: border-box;
    color: #292e41;
    background-color: #fff;
    align-content: start;
}

.main_product .prd_platinum .prd_list.plus li.expanded .logo, .main_product .prd_platinum .prd_list.plus li.option:hover .logo {
    display: grid;
    position: relative;
    z-index: 2;
    padding: 20px 10px;
    width: 76px;
    height: 56px;
    border-radius: 96px;
    background: #fff;
    align-self: start;
    justify-self: center;
    grid-area: logo;
}

.main_product .prd_platinum .prd_list.plus .logo {
    width: 160px;
    height: 40px;
}

.main_product .logo {
    display: grid;
    position: relative;
    align-items: center;
    align-self: start;
    justify-self: center;
    grid-area: logo;
}

.main_product .prd_platinum .prd_list.plus li.expanded .logo img, .main_product .prd_platinum .prd_list.plus li.option:hover .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 76px;
    max-height: 56px;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.main_product .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.main_product .prd_platinum .prd_list.plus li.expanded .c_name, .main_product .prd_platinum .prd_list.plus li.option:hover .c_name {
    display: block;
    overflow: hidden;
    z-index: 2;
    max-width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-self: center;
}

.main_product .prd_platinum .prd_list.plus .c_name, .main_product .prd_platinum .prd_list.plus .bg_ex, .main_product .prd_platinum .prd_list.plus .cont {
    display: none;
}

.main_product .c_name {
    display: block;
    overflow: hidden;
    max-width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    grid-area: c_name;
}

.main_product .prd_platinum .prd_list.plus li.expanded .title, .main_product .prd_platinum .prd_list.plus li.option:hover .title {
    display: none;
}

.main_product .prd_platinum .prd_list.plus .title {
    max-height: 52px;
    font-size: 18px;
    line-height: 26px;
}

.main_product .title, .main_product .title_ex {
    display: -webkit-box;
    overflow: hidden;
    max-height: 44px;
    font-size: 15px;
    line-height: 22px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    grid-area: title;
}
.main_product .prd_platinum .prd_list li.option .title_ex {
    display: none;
    font-size: 18px;
    line-height: 26px;
}

.main_product .prd_platinum .prd_list.plus li.expanded .title_ex, .main_product .prd_platinum .prd_list.plus li.option:hover .title_ex {
    display: -webkit-box;
    z-index: 2;
    max-height: 52px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    -webkit-line-clamp: 2;
}

.main_product .prd_platinum .prd_list.plus li.expanded .badge, .main_product .prd_platinum .prd_list.plus li.option:hover .badge {
    transform: translateX(0);
}

.main_product .prd_platinum .prd_list.plus .badge {
    z-index: 1;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.6);
    transform: translateX(-8px);
    gap: 4px;
}

.main_product .badge {
    display: grid;
    padding: 2px 8px;
    border-radius: 4px;
    background: #eff5ff;
    grid-template-columns: 14px 1fr;
    gap: 2px;
    justify-content: start;
    align-items: center;
    justify-self: start;
    align-self: end;
    grid-area: badge;
}

.main_product .badge svg {
    width: 14px;
    height: 14px;
}

.main_product .prd_platinum .prd_list.plus .badge span {
    color: #fff;
}

.main_product .badge span {
    overflow: hidden;
    max-width: 100%;
    color: #475067;
    font-size: 12px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_product .prd_platinum .prd_list.plus li.expanded .date, .main_product .prd_platinum .prd_list.plus li.option:hover .date {
    z-index: 2;
    padding: 0 32px 0;
    background: none;
    transform: none;
    align-self: start;
}

.main_product .prd_platinum .prd_list.plus .date {
    z-index: 1;
    padding: 2px 32px 2px 8px;
    border-radius: 4px;
    color: #fff;
    line-height: 24px;
    background: rgba(0, 0, 0, 0.6);
    transform: translateX(8px);
    align-self: end;
}

.main_product .date {
    display: block;
    padding-right: 28px;
    color: #67738e;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    justify-self: end;
    align-self: end;
    grid-area: date;
}

.main_product .prd_platinum .prd_list.plus li.expanded .bg, .main_product .prd_platinum .prd_list.plus li.option:hover .logo, .main_product .prd_platinum .prd_list.plus li.option:hover .bg {
    display: none;
}

.main_product .prd_platinum .prd_list.plus .bg {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 298px;
    height: 129px;
}

.main_product .prd_platinum .prd_list.plus .bg img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 298px;
    height: 129px;
    border-radius: 0 0 16px 16px;
    transform: translateX(-50%);
}

.main_product .prd_platinum .prd_list.plus li.expanded .bg_ex, .main_product .prd_platinum .prd_list.plus li.option:hover .bg_ex {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 560px;
    border-radius: 16px;
}
.main_product .prd_platinum .prd_list.plus li.expanded .bg_ex img, .main_product .prd_platinum .prd_list.plus li.option:hover .bg_ex img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.main_product .prd_platinum .prd_list.plus li.expanded .bg_ex:after, .main_product .prd_platinum .prd_list.plus li.option:hover .bg_ex:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 560px;
    border-radius: 16px;
    background: linear-gradient(to bottom, rgba(79, 128, 255, 0.24), rgba(0, 24, 152, 0.6));
    content: "";
}

.main_product .prd_platinum .prd_list.plus li.expanded .cont, .main_product .prd_platinum .prd_list.plus li.option:hover .cont {
    display: -webkit-box;
    overflow: hidden;
    z-index: 2;
    margin: 0 8px;
    max-height: 140px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    grid-area: cont;
}

.main_product .prd_platinum .prd_list.plus li.expanded .btn_scrap, .main_product .prd_platinum .prd_list.plus li.option:hover .btn_scrap {
    top: 16px;
    right: 16px;
}

.main_product .prd_platinum .prd_list.plus .btn_scrap {
    right: 20px;
    bottom: 18px;
    z-index: 2;
}

.main_product .btn_scrap {
    display: flex;
    position: absolute;
    right: 24px;
    z-index: 3;
    width: 24px;
    height: 24px;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.main_product .prd_platinum .prd_list.plus li.expanded .btn_scrap.on .ic path, .main_product .prd_platinum .prd_list.plus li.option:hover .btn_scrap.on .ic path {
    fill: #fff15c;
    stroke: #ad9100;
}
.main_product .btn_scrap.on .ic path {
    fill: #fff15c;
    stroke: #ad9100;
}

.main_product .prd_platinum .prd_list.plus li.expanded .btn_scrap .ic path, .main_product .prd_platinum .prd_list.plus li.option:hover .btn_scrap:not(.on) .ic path {
    stroke: #fff;
}

.main_product .prd_platinum .prd_list.plus .btn_scrap:not(.on) .ic path {
    stroke: #fff;
}

.main_product .btn_scrap .ic path {
    stroke: #6b768b;
}
.main_product .prd_platinum .prd_list.plus li.option:nth-child(4n+4) a:before {
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #9f02ff 0%, #2d67ff 100%);
}
.main_product .prd_platinum .prd_list.plus li.option:nth-child(2) a:before, .main_product .prd_platinum .prd_list.plus li.option:nth-child(4n+5) a:before {
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #2d67ff 0%, #02c6ff 100%);
}
.main_product .prd_platinum .prd_list.plus li.option:nth-child(3) a:before, .main_product .prd_platinum .prd_list.plus li.option:nth-child(4n+6) a:before {
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #02c6ff 0%, #00be4c 100%);
}
.main_product .prd_platinum .prd_list.plus li.option:nth-child(4) a:before, .main_product .prd_platinum .prd_list.plus li.option:nth-child(4n+7) a:before {
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #00be4c 0%, #ffe15f 100%);
}


.main_product .prd_platinum .prd_list.plus li.option a:before {
    border-color: transparent;
    background-clip: content-box, border-box;
    background-origin: border-box;
}

.main_product .prd_list li.option a:before {
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    height: 16px;
    border-width: 3px 1px 0 1px;
    border-style: solid;
    border-color: inherit;
    border-radius: 16px 16px 0 0;
    box-sizing: border-box;
    content: "";
}

