.join_header {
    display: flex;
    height: 64px;
    border-bottom: 1px solid #eaedf4;
    line-height: 64px;
    justify-content: space-between;
}

.join_header .area_logo {
    margin-left: 64px;
}

.join_header .area_logo .link_saramin_logo {
    margin-right: 6px;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

.join_header .area_util {
    margin-right: 64px;
}

.join_header .area_util .util {
    display: flex;
    height: 64px;
}

ol, ul, li {
    list-style-type: none;
}


.join_header .area_util .util_item {
    display: flex;
    align-items: center;
}

.join_header .area_util .util_menu {
    display: flex;
    color: var(--gray110);
    font-size: 13px;
    line-height: 17px;
    align-items: center;
}

.join_header .area_util .menu_saramin:before {
    background-image: url(/static/images/login/saramin-home.svg);
}

.join_header .area_util .util_menu:before {
    margin-right: 5px;
    width: 18px;
    height: 18px;
    content: "";
}

#join_wrapper {
    position: relative;
    margin: 0 auto;
    width: 360px;
}

.TypoBox .Typo {
    padding: 8px 12px;
    width: 100%;
    height: 38px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    background: none;
}

.write_base .item input.defalt:hover {
    border: 1px solid #8491a7;
    background-color: #eff5ff;
}

.TypoBox .Typo.SizeL {
    padding: 12px;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
}

.write_base .item input {
    width: 100%;
}

img, fieldset, button, input {
    border: 0 none;
}

.member_cate .tit_join_member {
    margin-bottom: 32px;
    padding-top: 55px;
    color: #373f57;
    font-size: 26px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
}

.cont_division {
    position: relative;
    margin-top: 24px;
    width: 360px;
    box-sizing: border-box;
}

.write_base .item {
    clear: both;
    position: relative;
    padding-top: 24px;
}

.write_base .item label {
    display: block;
}

button, label {
    cursor: pointer;
}

.write_base .item label strong {
    display: inline-block;
    margin-bottom: 8px;
    color: #373f57;
    font-size: 16px;
}

.write_base .item .TypoBox {
    width: 100%;
}

.TypoBox {
    display: inline-block;
    position: relative;
    border: 1px solid var(--gray70);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--white);
}

.TypoBox .Typo.SizeL {
    padding: 12px;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
}

.write_base .item input {
    width: 100%;
}

.TypoBox .Typo {
    padding: 8px 12px;
    width: 100%;
    height: 38px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    background: none;
}

::placeholder {
    color: #8491A7;
}

.write_base .item .TypoBox.invalid {
    border-color: #dc3434;
}

*:focus-visible {
    border-radius: 4px;
    outline: 2px solid var(--blue100);
    outline-offset: 2px;
}

.write_base .item .msgInvalid {
    display: block;
    clear: both;
    margin-top: 8px;
    color: #d64141;
    font-size: 13px;
    line-height: 20px;
}

.write_base .item .alert_column.good_txt {
    color: #2d65f2;
}

.write_base .item .alert_column {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
}

.write_base .item {
    clear: both;
    position: relative;
    padding-top: 24px;
}

.write_base .item label {
    display: block;
}

.write_base .item .pass_box .field_eye {
    position: absolute;
    top: 0;
    right: 12px;
    height: 50px;
    line-height: 54px;
}

button {
    overflow: visible;
    background-color: transparent;
}

.write_base .item .pass_box .field_eye.on:before {
    background: url(/static/images/join/eye.svg) no-repeat;
}

.write_base .item .pass_box .field_eye:before {
    display: inline-block;
    width: 28px;
    height: 20px;
    background: url(/static/images/join/oneye.svg) no-repeat;
    content: "";
}

.write_base .item .alert_column.focus_txt {
    color: #5c667b;
}

.write_base .item .msgInvalid {
    display: block;
    clear: both;
    margin-top: 8px;
    color: #d64141;
    font-size: 13px;
    line-height: 20px;
}

[class*="BtnType"].SizeL {
    padding: 10px 15px 12px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
}

.btn_identify_phone {
    width: 100%;
}

[class*="BtnType"] {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--blue90);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--white);
    text-align: center;
    vertical-align: top;
    background-color: var(--blue90);
    justify-content: center;
    align-items: center;
}

[class*="BtnType"]:hover {
    border-color: var(--blue100);
    background-color: var(--blue100);
}

.write_base .item .alert_column.good_txt {
    color: #2d65f2;
}

.write_base .item input.defalt:hover {
    border: 1px solid #8491a7;
    background-color: #eff5ff;
}

.TypoBox:has(.Typo:read-only)>.Typo {
    color: var(--gray100);
}

.TypoBox:has(.Typo:read-only) {
    border-color: var(--gray40);
    background: var(--gray20);
}

.write_base .item .wrap_collection_basis {
    display: inline-block;
    margin-top: 8px;
}

.write_base .item .wrap_collection_basis .btn_link {
    display: inline-block;
    padding-left: 18px;
    color: #5c667b;
    font-size: 13px;
    line-height: 20px;
    background: url(/static/images/join/info.svg) 0 50% no-repeat;
    background-size: 14px 14px;
}

.TipCont {
    display: none;
    position: absolute;
    padding: 12px 16px 14px;
    white-space: nowrap;
    border: 1px solid var(--gray70);
    border-radius: 8px;
    box-sizing: border-box;
    background: var(--white);
    box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.08);
}


.TipBox .TipCont.BottomCenter {
    bottom: calc(100% + 17px);
    left: 50%;
    transform: translateX(-50%);
}

.write_base .item .wrap_collection_basis .social_tooltip .TipCont {
    left: 8px;
}

.TipBox.Click .TipCont {
    padding-right: 44px;
}

.TipCont .TipTxt {
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
}

.TipBox.Click .BtnClose {
    position: absolute;
    top: 10px;
    right: 12px;
}

.blind {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    width: 1px;
    height: 1px;
}

.TipBox.Click .BtnClose:after {
    display: block;
    width: 24px;
    height: 24px;
    background: url(/static/images/join/close.svg) no-repeat;
    content: "";
}

.write_base .item .wrap_collection_basis .social_tooltip {
    top: -20px;
}

.TipBox {
    position: relative;
}

.cont_division .terms_agree, .cont_division .cont_tit {
    display: inline-block;
    margin-bottom: 8px;
    color: #373f57;
    font-size: 16px;
}

.cont_division .agree_box {
    padding: 16px;
    border: 1px solid #d7dce5;
    border-radius: 4px;
}

.cont_division .agree_box .agree_article {
    padding-bottom: 16px;
    border-bottom: 1px solid #d7dce5;
    color: #5c667b;
}

.InpBox {
    display: inline-block;
    vertical-align: top;
}

.InpBox .Chk {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: -1px;
}

.InpBox .Chk input {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    outline: none;
    opacity: 0;
    pointer-events: none;
}

body, input, button, textarea, select, table {
    line-height: 1.0;
}

.InpBox .Chk .Lbl {
    display: block;
    position: relative;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
}

.InpBox .Chk.SizeL .Lbl {
    font-size: 16px;
    line-height: 24px;
}

.InpBox .Chk .Lbl:before {
    display: inline-block;
    margin-right: 8px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--gray70);
    border-radius: 4px;
    vertical-align: top;
    background: #fff;
    content: '';
}

.InpBox .Chk.SizeL .Lbl:before {
    width: 22px;
    height: 22px;
}

.InpBox .Chk input:checked~.Lbl:before {
    border-color: var(--blue90);
    background: var(--blue90);

}
.InpBox .Chk:hover input:checked+.Lbl:before {
    background: var(--blue100);
}

.InpBox .Chk input:focus~.Lbl:before {
    border-radius: 4px;
    outline: 2px solid var(--blue100);
    outline-offset: 2px;
}

.InpBox .Chk input:checked~.Lbl:after {
    display: inline-block;
    border-color: var(--white);
}

.InpBox .Chk .Lbl:after {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 5px;
    border-bottom: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-radius: 1px;
    transform: rotate(-45deg);
    content: '';
}

.InpBox .Chk.SizeL .Lbl:after {
    top: 7px;
    left: 6px;
    width: 10px;
    height: 5px;
}

.cont_division .agree_box .agree_article .agree_txt {
    margin: 8px 0 0 40px;
    color: var(--gray100);
    font-size: 13px;
    line-height: 20px;
}

.cont_division .agree_box .agree_article {
    padding-bottom: 16px;
    border-bottom: 1px solid #d7dce5;
    color: #5c667b;
}

.cont_division .agree_box .agree_article.depth2 {
    padding-bottom: 0;
    border: none;
}

.cont_division .agree_box .agree_article.depth2 li {
    position: relative;
    margin: 16px 0;
}

.cont_division .agree_box .agree_article.depth2 span {
    font-size: 15px;
}

input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: -1px;
}



.InpBox .Chk input {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    outline: none;
    opacity: 0;
    pointer-events: none;
}

.cont_division .agree_box .agree_article.depth2 li a {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: url(/static/images/join/arrow.svg) no-repeat;
    background-position: center right;
}

.btn_join {
    margin-top: 24px;
    padding-bottom: 100px;
}



.btn_join button {
    width: 100%;
}

.cont_division .agree_box .agree_article.depth2 li:last-child {
    margin-bottom: 0;
}

.ModalBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 110;
    padding: 40px;
    border-radius: 16px;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(-50%) translateX(-50%) translateZ(0);
}

.ModalBox.member_nudge {
    top: 50%;
    left: 50%;
    width: 560px;
    transform: translate(-50%, -50%);
}


.ModalBox .Tit {
    margin-bottom: 24px;
    color: var(--gray120);
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
}

.ModalBox .ModalCont {
    color: var(--gray90);
    font-size: 14px;
    line-height: 20px;
}

.ModalBox.member_nudge .id_already {
    margin-top: 24px;
    color: #373f57;
    font-size: 16px;
}

.ModalBox.member_nudge .id_already strong {
    margin-left: 8px;
    color: #2d65f2;
}

.ModalBox .BtmArea {
    display: flex;
    margin-top: 24px;
    justify-content: center;
}

.ModalBox.member_nudge .BtmArea .BtnType.search_user {
    border-color: var(--gray80);
    color: var(--gray100);
    background: var(--white);
}

.ModalBox .BtmArea .BtnType {
    min-width: 100px;
}

[class*="BtnType"].SizeM {
    padding: 6px 11px;
    height: 40px;
    font-size: 14px;
    line-height: 24px;
}

[class*="BtnType"] {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--blue90);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--white);
    text-align: center;
    vertical-align: top;
    background-color: var(--blue90);
    justify-content: center;
    align-items: center;
}

.ModalBox .BtmArea .BtnType+.BtnType {
    margin-left: 8px;
}

.ModalBox .BtmArea .BtnType {
    min-width: 100px;
}

[class*="BtnType"].SizeM {
    padding: 6px 11px;
    height: 40px;
    font-size: 14px;
    line-height: 24px;
}

.ModalBox .BtnClose {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10;
}

.ModalBox .BtnClose:after {
    display: block;
    width: 24px;
    height: 24px;
    background: url(/static/images/join/close.svg) no-repeat;
    content: "";
}

.ModalBox.member_nudge .BtmArea .BtnType.search_user {
    border-color: var(--gray80);
    color: var(--gray100);
    background: var(--white);
}

.ModalBox.member_nudge .BtmArea .BtnType.search_user:hover {
    background: var(--gray20);
}

.write_base .item .item_tit strong {
    display: inline-block;
    margin-bottom: 8px;
    color: #373f57;
    font-size: 16px;
}

.write_base .item .alert_column.focus_txt {
    color: #5c667b;
}

.write_base .item .alert_column {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
}

.write_base .item .wrap_collection_basis .btn_link.on {
    color: #2d65f2;
    background: url(/static/images/join/infoOn.svg) 0 50% no-repeat;
    background-size: 14px 14px;
}

.write_base .item .auto_list_area {
    display: none;
    overflow-y: auto;
    position: absolute;
    top: 96px;
    z-index: 1000;
    margin-top: 8px;
    padding: 9px 24px;
    width: 100%;
    max-height: 199px;
    border: 1px solid #d7dce5;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

.write_base .item .auto_list_area .auto_list a {
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 36px;
}

.write_base .item .auto_list_area .auto_list .txt_input {
    color: #4876ef;
}

/* 비활성화 상태 */
.BtnType.is-disabled {
    border-color: var(--gray40) !important;
    color: var(--gray50) !important;
    background-color: var(--gray20) !important;
    cursor: not-allowed; /* 금지 커서 */
    pointer-events: none; /* 클릭 방지 */
}

/* 활성화 상태 */
.BtnType {
    border: 1px solid var(--blue90);
    color: var(--white);
    background-color: var(--blue90);
    cursor: pointer; /* 활성화 상태에서 포인터 커서 */
}

.TypoBox:has(.Typo:read-only) {
    border-color: var(--gray40);
    background: var(--gray20);
}

.area_corp_certification .btn_close:after {
    display: block;
    width: 24px;
    height: 24px;
    background: url(/static/images/join/closeBtn.svg) 50% no-repeat;
    content: "";
}


.area_corp_certification .box_file_upload .file_view:before {
    display: block;
    margin: 14px auto 0;
    width: 53px;
    height: 68px;
    background: url(//www.saraminimage.co.kr/sri/join/img_file_upload.png) 0 0 no-repeat;
    content: "";
}

.area_corp_certification .file_upload_name {
    overflow: hidden;
    margin-top: 12px;
    width: 100%;
    color: var(--gray100);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: transparent;
}

.area_corp_certification .file_txt_guide {
    margin-top: 12px;
    color: var(--gray90);
    font-size: 13px;
    line-height: 17px;
}

.area_corp_certification .btn_close:after {
    display: block;
    width: 24px;
    height: 24px;
    background: url(/static/images/join/closeBtn.svg) 50% no-repeat;
    content: "";
}

.area_corp_certification .btn_close {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
}

button {
    overflow: visible;
    background-color: transparent;
}

.area_corp_certification {
    position: relative;
}
