<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/Position-Front/static/css/main.css" />
        <link
            rel="stylesheet"
            href="/Position-Front/static/css/customer-service-center/faq.css"
        />
        <title>FAQ</title>
    </head>
    <body>
        <div id="sri_section" class="has_banner">
            <div id="sri_wrap">
                <div id="content">
                    <div class="wrap_title_recruit">
                        <h1 class="title_common">고객센터</h1>
                    </div>
                    <!-- 여기 통채로 왔다갔다 개인,기업 총 2개임 -->
                    <div class="wrap_help">
                        <!-- 개인 ,기업 -->
                        <ul class="tab_list">
                            <li class="select">
                                <a href="" class="in-tab">
                                    <span>개인회원</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="in-tab">
                                    <span>기업회원</span>
                                </a>
                            </li>
                        </ul>
                        <!-- 목록들 -->
                        <ul class="tab_help">
                            <li class="select">
                                <a href="" class="in-tab">
                                    <span>전체</span>
                                </a>
                            </li>
                            <li class>
                                <a href="" class="in-tab">
                                    <span>이력서 등록 / 관리</span>
                                </a>
                            </li>
                            <li class>
                                <a href="" class="in-tab">
                                    <span>이력서 등록 / 관리</span>
                                </a>
                            </li>
                            <li class>
                                <a href="" class="in-tab">
                                    <span>이력서 등록 / 관리</span>
                                </a>
                            </li>
                            <li class>
                                <a href="" class="in-tab">
                                    <span>이력서 등록 / 관리</span>
                                </a>
                            </li>
                        </ul>
                        <!-- 메인질문들 -->
                        <div class="wrap_list_help">
                            <h2 class="tit_list_help">
                                <strong> 이력서 등록 / 관리 </strong>
                                자주 묻는 질문
                            </h2>
                            <ul class="list_help">
                                <li>
                                    <dl>
                                        <dt>
                                            <button
                                                type="button"
                                                class="btn_close"
                                            >
                                                <span class="question">
                                                    희망 근무조건과 대표 희망
                                                    근무조건 수정 방법
                                                </span>
                                            </button>
                                        </dt>
                                    </dl>
                                </li>
                                <!-- 여기서부터 -->
                                <li></li>
                            </ul>
                        </div>
                        <!-- 이메일문의 있는부분 이메일 문의만 있으면 됨 -->
                        <div></div>
                    </div>
                    <!-- 기업부분큰 div -->
                    <div></div>
                </div>
            </div>
        </div>
    </body>
    <script src="/Position-Front/static/js/customer-service-center/faq.js"></script>
</html>
