<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>현직자 인터뷰 - 상세 보기</title>
        <link rel="stylesheet" href="../../static/css/main.css" />
        <link
            rel="stylesheet"
            href="../../static/css/community/interview-incumbent-inquiry.css"
        />
    </head>
    <body>
        <div id="sri_section">
            <div id="sri_wrap">
                <div id="content">
                    <div class="wrap_interview_part">
                        <h1 class="blind">
                            에스디생명공학 브랜딩과 마케팅커뮤니케이션의
                            전반적인 업무를 총괄해요
                        </h1>
                        <div class="area_intro">
                            <div class="mark_img">
                                <img
                                    src="https://pds.saramin.co.kr/career-information/asset/202409/20/sk3nrb_7jdx-2so1pr_asset.png"
                                    alt="직무인터뷰 사진"
                                />
                            </div>
                            <div class="box_info">
                                <p class="company_name">
                                    <em
                                        class="label_ing"
                                        onmousedown="try{n_trackEvent('public', 'job-interview' , 'recruiting_now', '');}catch(e){}"
                                        >채용중</em
                                    ><span class="in_name">에스디생명공학</span>
                                </p>
                                <p class="title">
                                    브랜딩과 마케팅커뮤니케이션의 전반적인
                                    업무를 총괄해요
                                </p>
                                <div class="box_txt">
                                    <p class="company_part">마케팅팀 김리원</p>
                                    <div class="day_line">
                                        <span class="day">24.09.20</span>
                                        <span class="view_count">1021</span>
                                        <div class="box_sns">
                                            <div class="share">
                                                <button
                                                    type="button"
                                                    class="spr_rview btn_share"
                                                    onmousedown="try{n_trackEvent('public', 'job-interview' , 'share', '');}catch(e){}"
                                                >
                                                    공유하기
                                                </button>
                                                <ul
                                                    class="spr_rview list_share"
                                                >
                                                    <li>
                                                        <a
                                                            href="http://www.facebook.com/share.php?api_key=137906922916817&amp;display=popup&amp;u=https%3A%2F%2Fwww.saramin.co.kr%2Fzf_user%2Fcareer-information%2Fsenior-view%3Fdoc_idx%3D24045"
                                                            class="spr_rview facebook"
                                                            onclick="window.open(this.href, this.target, 'width=578,height=380'); return false;"
                                                            title="페이스북 공유하기"
                                                            ><span class="blind"
                                                                >페이스북</span
                                                            ></a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="http://twitter.com/share?url=https%3A%2F%2Fwww.saramin.co.kr%2Fzf_user%2Fcareer-information%2Fsenior-view%3Fdoc_idx%3D24045&amp;text=%EB%B8%8C%EB%9E%9C%EB%94%A9%EA%B3%BC%20%EB%A7%88%EC%BC%80%ED%8C%85%EC%BB%A4%EB%AE%A4%EB%8B%88%EC%BC%80%EC%9D%B4%EC%85%98%EC%9D%98%20%EC%A0%84%EB%B0%98%EC%A0%81%EC%9D%B8%20%EC%97%85%EB%AC%B4%EB%A5%BC%20%EC%B4%9D%EA%B4%84%ED%95%B4%EC%9A%94%20-%20%EC%97%90%EC%8A%A4%EB%94%94%EC%83%9D%EB%AA%85%EA%B3%B5%ED%95%99%20%23saramin"
                                                            class="spr_rview twitter"
                                                            onclick="window.open(this.href, this.target, 'width=554,height=454'); return false;"
                                                            title="트위터 공유하기"
                                                            ><span class="blind"
                                                                >트위터</span
                                                            ></a
                                                        >
                                                    </li>
                                                    <li>
                                                        <button
                                                            type="button"
                                                            class="spr_rview copy_url"
                                                            data-url="https://www.saramin.co.kr/zf_user/career-information/senior-view?doc_idx=24045"
                                                            title="주소 복사하기"
                                                        >
                                                            <span class="blind"
                                                                >URL복사</span
                                                            >
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tag_line">
                                    <a
                                        href="/zf_user/career-information/senior-list?keyword=㈜에스디생명공학"
                                        onmousedown="try{n_trackEvent('public', 'job-interview' , 'hashtag', '1');}catch(e){}"
                                        >#㈜에스디생명공학</a
                                    >
                                    <a
                                        href="/zf_user/career-information/senior-list?keyword=브랜드마케팅"
                                        onmousedown="try{n_trackEvent('public', 'job-interview' , 'hashtag', '2');}catch(e){}"
                                        >#브랜드마케팅</a
                                    >
                                    <a
                                        href="/zf_user/career-information/senior-list?keyword=브랜딩"
                                        onmousedown="try{n_trackEvent('public', 'job-interview' , 'hashtag', '3');}catch(e){}"
                                        >#브랜딩</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="../../static/js/community/interview-incumbent-inquiry.js"></script>
</html>
