<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/css/main.css" />
        <link
            rel="stylesheet"
            href="../../static/css/my-page/my-employment-status.css"
        />
        <title>입사지원 현황</title>
    </head>
    <body>
        <div id="sri_section">
            <div id="sri_wrap">
                <div id="content">
                    <div class="wrap_my_apply" id="apply_status_div">
                        <h1 class="wrap_title">입사지원 현황</h1>
                        <div class="tab_inc_btn">
                            <ul class="TabBox">
                                <li class="Select">
                                    <a
                                        href="/zf_user/persons/apply-status-list"
                                        class="BtnType"
                                        onmousedown="try{dataLayer.push({'event': 'ga_lead','category': 'pc_my_apply','event-flow': 'apply','event-label': ''});}catch(e){}"
                                        >전체<span class="Badge">0</span></a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/zf_user/persons/apply-status-pause-list"
                                        class="BtnType"
                                        onmousedown="try{dataLayer.push({'event': 'ga_lead','category': 'pc_my_apply','event-flow': 'pause','event-label': ''});}catch(e){}"
                                        >지원서 작성중<span class="Badge"
                                            >0</span
                                        ></a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="wrap_list" id="apply_status_list_div">
                            <div class="status_board">
                                <div class="item _dashboardDiv">
                                    <button
                                        type="button"
                                        class="dash_tab _dashboardBtn"
                                        data-type="waiting"
                                        onmousedown="try{dataLayer.push({'event': 'ga_lead','category': 'pc_my_apply','event-flow': 'apply','event-label': 'applied'});}catch(e){}"
                                    >
                                        <em>지원완료</em>
                                        <span class="num">0</span>
                                    </button>
                                </div>
                                <div class="item _dashboardDiv">
                                    <button
                                        type="button"
                                        class="dash_tab _dashboardBtn"
                                        data-type="ing"
                                        onmousedown="try{dataLayer.push({'event': 'ga_lead','category': 'pc_my_apply','event-flow': 'apply','event-label': 'ing'});}catch(e){}"
                                    >
                                        <em>전형 진행중</em>
                                        <span class="num">0</span>
                                    </button>
                                </div>
                                <div class="item _dashboardDiv">
                                    <button
                                        type="button"
                                        class="dash_tab _dashboardBtn"
                                        data-type="result"
                                        onmousedown="try{dataLayer.push({'event': 'ga_lead','category': 'pc_my_apply','event-flow': 'apply','event-label': 'end'});}catch(e){}"
                                    >
                                        <em>최종발표</em>
                                        <span class="num">0</span>
                                    </button>
                                </div>
                            </div>
                            <form
                                name="list_search_form"
                                id="list_search_form"
                                action="/zf_user/persons/apply-status-list"
                            >
                                <input
                                    type="hidden"
                                    name="status_type"
                                    value=""
                                />
                                <div
                                    class="top_btns"
                                    id="apply_status_list_search"
                                >
                                    <div class="align"></div>
                                    <div class="align">
                                        <div class="period">
                                            <div class="TypoBox TypeBtn">
                                                <input
                                                    type="text"
                                                    id="start_date"
                                                    name="start_date"
                                                    class="Typo DatePic type_calendar hasDatepicker"
                                                    maxlength="10"
                                                    value="2024-09-17"
                                                    placeholder="YYYY-MM-DD"
                                                    autocomplete="off"
                                                /><button
                                                    type="button"
                                                    class="ui-datepicker-trigger"
                                                >
                                                    Calendar
                                                </button>
                                            </div>
                                            <span>~</span>
                                            <div class="TypoBox TypeBtn">
                                                <input
                                                    type="text"
                                                    id="end_date"
                                                    name="end_date"
                                                    class="Typo DatePic type_calendar hasDatepicker"
                                                    maxlength="10"
                                                    value="2024-10-17"
                                                    placeholder="YYYY-MM-DD"
                                                    autocomplete="off"
                                                /><button
                                                    type="button"
                                                    class="ui-datepicker-trigger"
                                                >
                                                    Calendar
                                                </button>
                                            </div>
                                        </div>
                                        <div class="InpBox">
                                            <select
                                                name="search_period"
                                                id="search_period"
                                                title="기간 설정"
                                            >
                                                <option value="week">
                                                    지난 1주일
                                                </option>
                                                <option value="1" selected="">
                                                    지난 1개월
                                                </option>
                                                <option value="2">
                                                    지난 2개월
                                                </option>
                                                <option value="3">
                                                    지난 3개월
                                                </option>
                                                <option value="6">
                                                    지난 6개월
                                                </option>
                                                <option value="12">
                                                    지난 1년
                                                </option>
                                                <option value="period">
                                                    기간 설정
                                                </option>
                                            </select>
                                        </div>
                                        <div class="InpBox"></div>
                                        <div class="InpBox"></div>
                                        <div class="InpBox"></div>
                                        <div class="TypoBox search_area"></div>
                                    </div>
                                </div>
                            </form>
                            <form action=""></form>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="../../static/js/my-page/my-employment-status.js"></script>
</html>
