<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>내 게시글 & 댓글</title>
        <link rel="stylesheet" href="../../static/css/main.css" />
        <link
            rel="stylesheet"
            href="../../static/css/my-page/my-post-reply.css"
        />
    </head>
    <body>
        <div id="sri_section">
            <div id="sri_wrap">
                <div id="content">
                    <div class="wrapper_narrow support_announce">
                        <h1 class="wrap_title">내 공고 활동</h1>
                        <ul class="TabBox">
                            <li class="Select">
                                <a href="#" class="BtnType" id="postTab">
                                    내 게시글<span
                                        id="readJobTotalCount"
                                        class="Badge"
                                        >20</span
                                    >
                                </a>
                            </li>
                            <li>
                                <a href="#" class="BtnType" id="replyTab">
                                    내 댓글<span
                                        id="suitedTotalCount"
                                        class="Badge"
                                        >389</span
                                    >
                                </a>
                            </li>
                        </ul>
                        <div class="top_btns">
                            <div class="align">
                                <div class="InpBox topCheckBox">
                                    <span class="Chk Hide">
                                        <input type="checkbox" id="selectAll" />
                                        <label class="Lbl" for="selectAll"
                                            >전체선택</label
                                        >
                                    </span>
                                </div>
                                <button
                                    type="button"
                                    class="BtnType SizeM GrayInvert btn_invert select_scrap_btn"
                                >
                                    스크랩
                                </button>
                                <button
                                    type="button"
                                    id="selectDelete"
                                    class="BtnType SizeM GrayInvert btn_invert"
                                >
                                    삭제
                                </button>
                            </div>
                            <div class="align">
                                <div class="InpBox Line filter">
                                    <span class="Chk">
                                        <input
                                            type="checkbox"
                                            id="quick_apply"
                                            value="y"
                                        />
                                        <label class="Lbl" for="quick_apply"
                                            >입사지원만 보기</label
                                        >
                                    </span>
                                    <span class="Chk">
                                        <input
                                            type="checkbox"
                                            id="ai_head_hunting"
                                            value="y"
                                        />
                                        <label class="Lbl" for="ai_head_hunting"
                                            >취업축하금만 보기</label
                                        >
                                    </span>
                                </div>

                                <div class="InpBox filter">
                                    <select
                                        name="sort"
                                        id="sort"
                                        class="sorting"
                                    >
                                        <option
                                            value="rd"
                                            label="최근 조회순"
                                            selected="selected"
                                        >
                                            최근 조회순
                                        </option>
                                        <option value="ed" label="마감일순">
                                            마감일순
                                        </option>
                                        <option value="rod" label="등록일순">
                                            등록일순
                                        </option>
                                        <option value="md" label="수정일순">
                                            수정일순
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="activity_list">
                            <span class="blind">공고 리스트</span>
                            <div class="list_recruit">
                                <ul class="wrap_list" id="jobList"></ul>
                            </div>
                        </div>
                        <div class="PageBox">
                            <span class="BtnType SizeS">1</span>
                        </div>
                    </div>
                    <div class="NotiBox">
                        <h5 class="NotiTit">최근 본 공고<br />유의사항</h5>
                        <div class="NotiCont">
                            <ul class="list">
                                <li>
                                    최근 본 공고는 최대 200건까지 노출됩니다.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="../../static/js/my-page/my-post-reply.js"></script>
</html>
