<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>payment-list</title>
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="/static/css/my-page/payment-list.css" />
    </head>
    <body id="container" class="vsc-initialized">
        <header></header>
        <div id="sri_section">
            <div id="sri_gnb_wrap"></div>
            <div id="sri_wrap">
                <div id="content"></div>
            </div>
        </div>
    </body>
    <script src="/static/js/my-page/payment-list.js"></script>
</html>
