<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>resume-wirte</title>
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="/static/css/my-page/resume-write.css" />
    </head>
    <body>
        <header></header>
        <div id="sri_section">
            <div id="sri_wrap">
                <div id="content">
                    <form action="">
                        <!-- input hidden -->
                        <div class="resume_wrap">
                            <div class="resume_snb">
                                <div class="snb_container">
                                    <div class="snb_box">
                                        <div class="snb_top">
                                            <h3 class="tit">이력서 완성도</h3>
                                            <strong class="persent"
                                                >100%</strong
                                            >
                                        </div>
                                        <div class="progress_bar per100">
                                            <span class="blind">진행률</span>
                                        </div>
                                        <p class="txt">
                                            <em>석상훈</em>
                                            회원님의<br />이력서가 완성됐어요!
                                        </p>
                                        <ul class="item_list">
                                            <li class="item essential active">
                                                <a
                                                    href="#school"
                                                    class="BtnType con_link"
                                                >
                                                    학력
                                                </a>
                                            </li>
                                            <li class="item">
                                                <a
                                                    href="#career"
                                                    class="BtnType con_link"
                                                >
                                                    경력
                                                </a>
                                            </li>
                                            <li class="item add">
                                                <a
                                                    href="#skill"
                                                    class="BtnType con_link"
                                                >
                                                    스킬
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <button
                                        type="button"
                                        class="resume_snb_guide evtNudgeGuide"
                                    >
                                        이력서 이용 방법을 알려드릴게요!
                                    </button>
                                </div>
                            </div>
                            <div class="resume_con">
                                <section id="basic" class="resume_basic">
                                    <div class="resume_view">
                                        <div class="resume_top">
                                            <h1 class="user_name">석상훈</h1>
                                            <div
                                                class="InpBox SizeS user_career"
                                            >
                                                <label
                                                    for="careerCd"
                                                    class="blind"
                                                    >경력구분</label
                                                >
                                                <select
                                                    name="career_cd"
                                                    id="careerCd"
                                                >
                                                    <option
                                                        value="1"
                                                        selected="selected"
                                                    >
                                                        신입
                                                    </option>
                                                    <option value="2">
                                                        경력
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <p class="user_desc">남, 2000 (24세)</p>
                                        <p class="user_hide">
                                            <span class="showPrivacy"
                                                >가려진 정보 보기</span
                                            >
                                            기업이 이력서 열람/제안시 개인정보는
                                            정상 노출됩니다.
                                        </p>
                                        <ul class="user_info">
                                            <li
                                                value="resumeBasic_1729040695001"
                                                class="user_email"
                                            >
                                                sanghun1016@naver.com
                                            </li>
                                            <li
                                                value="resumeBasic_1729040695001"
                                                class="user_phone"
                                            >
                                                010-7523-4588
                                            </li>
                                            <li
                                                value="resumeBasic_1729040695001"
                                                class="user_address"
                                            >
                                                서울 강동구 상암로 225
                                            </li>
                                        </ul>
                                        <!-- 사용자 프로필 없으면 picture에 none 붙음 -->
                                        <div class="picture_box">
                                            <div class="picture none">
                                                <span class="blind"
                                                    >이미지없음</span
                                                >
                                                <!-- <img
                                                    alt=""
                                                    src="https://pds.saramin.co.kr/person/photo/2024/10/sle1br_lddk-j5flt_sle1bqxhs3j5fltsle0pafmy9j5fltimg2.jpg"
                                                /> -->
                                            </div>
                                        </div>
                                        <button
                                            type="button"
                                            class="BtnType user_modify evtWrite"
                                        >
                                            <span class="blind">수정하기</span>
                                        </button>
                                    </div>
                                </section>
                                <section id="school" class="resume_school">
                                    <div class="resume_tit">
                                        <div class="box_tit">
                                            <h2 class="tit">
                                                학력<span class="must"
                                                    >필수</span
                                                >
                                            </h2>

                                            <p class="career_txt">
                                                <span>대학교(4년) 졸업</span>
                                                <button
                                                    type="button"
                                                    class="btn_modify evtOpenLastSchoolNudge"
                                                >
                                                    <svg>
                                                        <use
                                                            xlink:href="#view_modify"
                                                        ></use>
                                                    </svg>
                                                </button>
                                            </p>
                                        </div>
                                        <button
                                            type="button"
                                            class="btn_add evtWriteItem"
                                        >
                                            <svg>
                                                <use
                                                    xlink:href="#resume_plus"
                                                ></use>
                                            </svg>
                                            추가
                                        </button>
                                    </div>
                                    <ul class="resume_list">
                                        <li class="list">
                                            <div class="contents">
                                                <span class="school_badge"
                                                    >최종학력</span
                                                >
                                                <h3 class="tit">
                                                    <span>한라대학교</span>
                                                    (4년제)
                                                    <span class="date">
                                                        (졸업)</span
                                                    >
                                                </h3>
                                                <p class="desc">
                                                    IT소프트웨어학과
                                                </p>
                                                <dl class="faculty"></dl>
                                            </div>
                                            <div class="contents_edit">
                                                <button
                                                    type="button"
                                                    value="resumeSchoolItem_1729041791302"
                                                    class="BtnType view_modify evtEditItem"
                                                >
                                                    <svg>
                                                        <use
                                                            xlink:href="#view_modify"
                                                        ></use>
                                                    </svg>
                                                    <span class="blind"
                                                        >수정하기</span
                                                    >
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/my-page/resume-write.js"></script>
</html>
